@font-face {
    font-family: 'Light';
    src: url('../fonts/GothamProLight.ttf');
}

@font-face {
    font-family: 'MediumItalic';
    src: url('../fonts/GothamProMediumItalic.ttf');
}
@font-face {
    font-family: 'Regular';
    src: url('../fonts/GothamProRegular.ttf');
}
@font-face {
    font-family: 'Medium';
    src: url('../fonts/GothamProMedium.ttf');
}

@font-face {
    font-family: 'Bold';
    src: url('../fonts/GothamProBold.ttf');
}
@font-face {
    font-family: 'Black';
    src: url('../fonts/GothamProBlack.ttf');
}


p, ul, li{
	padding:0;
	margin: 0;
}
header{
	min-height: 40px;
	background-color: #4B4C9A;
    font-family: 'Regular';
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
}
header .headerall-3{
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
}
header .headerall-3 p{
 display: flex;
 align-items: center;
}
.headerall-3 .header1-div{
	display: flex;
	width: 250px;
}
.header2-div ul li{
	list-style: none;
	display: inline-block;
	align-items: center;
	margin-left: 7px;
	margin-right: 7px;
	max-width: 20px;
}
.header2-div{
	width: 150px;
	text-align: center;
}
.header3-div{
	display: flex;
	justify-content: space-between;
	width: 340px;
	align-items: center;
}
.languages select{
	background-color: #4B4C9A;
	border: none;
	outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
.header3-div img{
	margin-right: 9px;
	max-height: 20px;
}
.header3-div-register button{
	border: none;
	outline: none;
	background-color: #4B4C9A;

}
.header3-div-register button span{
	margin-left: 10px;
	margin-right: 10px;
	color: #706FAF;
}
.logo-header a img{
	max-width: 310px;
	width: 100%;
	max-height: 45px;
}
.search-header{
    font-family: 'Regular';
    min-height: 90px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F5F5F7;
}
.search-header .search_all-3{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.search-header .logo-header{
   width: 305px;
}
.search-header .search-2-div{
	width: 370px;
	position: relative;
}
.search-header .search-3-div{
	width: 230px;
	display: flex;
	justify-content: space-between;
}
.search-2-div input{
	border: #C3D6F0 1px solid;
	border-radius: 30px;
	padding-left: 16px;
	padding-right: 40px;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	outline: none;
    color: #8499C6;
    font-size: 13px;
}
.search-header .search-2-div button img{
	width: 18px;
	height: 18px;
}
.search-header .search-2-div button{
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.search-header .search-2-div button:hover{
	background-color: #e3e8f0;
}

.search-2-div input::placeholder {
    color: #8499C6;
    opacity: 1;
}

.search-2-div input:-ms-input-placeholder {
   color: #8499C6;
}

.search-2-div input::-ms-input-placeholder {
   color: #8499C6;
}
.search-3-div-heard{
    margin-top: 8px;
}
.search-3-div-heard i{
	font-size: 30px;
	color: #E1305A;
}
.search-3-div-heard a{
    position: relative;
}
.search-3-div-heard a span{
	position: absolute;
	top: -20px;
	right: -10px;
	color: #fff;
	background-color: #7272C2;
	border-radius: 4px;
	width: 22px;
	height: 15px;
	text-align: center;
    font-size: 12px;
}
.card img{
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    margin-right: 15px;
    margin-top: 5px;
}
.search-3-div .card{
	display: flex;
	justify-content: space-between;
}
.lnheader_navbar .navbar{
	min-height: 80px;
	border: none;
	margin-bottom: 0;
	background-color: transparent;
	border-radius: 0;
}
.lnheader_navbar .navbar-collapse{
	padding-left:0;
	padding-right: 0;
	margin-top: 25px;
}
.lnheader_navbar .navbar-nav>li>a{
	padding: 0 0 30px 0;
	margin-right: 40px;
    font-family: 'Regular';
    color: #A7A7A7;
    font-size: 16px;
}
.lnheader_navbar .navbar-nav>.active>a{
	border-bottom: 4px solid #2B2B6B;
	color: 	#2B2B6B;
	background-color: #fff;
}
.lnheader_navbar .navbar-nav>li>a:focus{
    color: 	#2B2B6B;
}
.lnheader_navbar  .navbar-nav>.active>a:hover{
 	color: 	#2B2B6B;
	background-color: #fff;
}
.lnheader_navbar .navbar-nav>li>a:hover{
   	color: 	#2B2B6B;
    border-bottom: 4px solid #2B2B6B;
}
/*slider*/


.slider_top .single-item_ek_img{
	display: flex;
	justify-content: center;
	outline: none;
	height: 600px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 80px 0;
	width: 100%;
}

.slider_top .single_content{
	margin-top: 125px;
	margin-left: 320px;
	background-color: #f0efeea1;
	max-width: 500px;
	padding-left: 20px;
-webkit-box-shadow: inset -200px -23px 300px 115px rgba(240,239,238,1);
-moz-box-shadow: inset -200px -23px 300px 115px rgba(240,239,238,1);
box-shadow: inset -200px -23px 300px 115px rgba(240,239,238,1);
}
section.slider_top{
	background-color: #F0EFEE;
	min-height: 600px;
	position: relative;
}
.single_content h5{
	font-size: 30px;
    font-family: 'Regular';
    color: #633231;
}
.single_content h1{
	font-size: 70px;
    font-family: 'Medium';
    color: #633231;
    margin-top: 10px;
}
.single_content h4{
	font-size: 50px;
    font-family: 'Regular';
    color: #FF7270;
}
.single_content p{
   color: #8A8784;
   font-size: 16px;
   line-height: 2;
   margin-top: 20px;
   margin-bottom: 24px;
   max-width: 450px;
}
.single_content a{
	display: flex;
	width: 255px;
	height: 48px;
    background-color: #FF7270;
    color: #fff;
    font-size: 16px;
    font-family: 'Bold';
    align-items: center;
    justify-content: center;
}
.single_content a:hover{
	text-decoration: none;
	background-color: #ec2421;
}
.slider_top .slick-prev{
	position: absolute;
	top: calc(50% - 30px);
	left: 160px;
	width: 60px;
	height: 60px;
	border: none;
	background-color: #c9c9c899;
	border-radius: 50%;
	z-index: 2;
	outline: none;
}
.slider_top .slick-prev i{
	font-size: 25px;
	color: #fff;
}
.slider_top .slick-next{
	position: absolute;
	top:  calc(50% - 30px);
	right: 160px;
	width: 60px;
	height: 60px;
	border: none;
	background-color: #c9c9c899;
	border-radius: 50%;
	z-index: 2;
	outline: none;
}
.slider_top .slick-next i{
	font-size: 25px;
	color: #fff;
}
/*slider 4 divs*/
.divs4_slider .divs4_1{
	display: flex;
	justify-content: space-between;
	outline: none;
}
.divs4_slider .container{
	position: relative;
}
section.divs4_slider .divs4_1_left{

	background-color: #4C4C99;
	border-radius: 8px;
	text-align: center;
	margin-top: 30px;
	height: 540px;
	margin-right: 15px;

}

section.divs4_slider .divs4_1_left h3{
    font-family: 'Light';
    margin-top: 53px;
    color: #fff;
    font-size: 30px;
}
section.divs4_slider .divs4_1_left h2{
    font-family: 'Bold';
    color: #42D9CE;
    margin-top: 0;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
section.divs4_slider .divs4_1_left .divs4_1_left_bi_img{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 270px;
}
section.divs4_slider .divs4_1_left .divs4_1_left_bi_img img{
    margin: 0 auto;
    width: auto;
    height: auto;
    max-height: 260px;
    max-width: 100%;
}

section.divs4_slider .divs4_1_left a{
	color: #000;
	background-color: #42D9CE;
	width: 210px;
	height: 48px;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
    font-family: 'Bold';
}
section.divs4_slider .divs4_1_left a:hover{
	text-decoration: none;
}
section.divs4_slider .divs4_right-botton {
    display: flex;
    justify-content: space-between;
}
section.divs4_slider{
	padding-top: 20px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.divs4_1_right .divs4_right-top{
    background-color: #FF7270;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    height: 255px;

}
.divs4_1_right .divs4_right-top .divs4_right-top_tpim {
	display: flex;
	justify-content: center;
	align-items: center;
    max-height: 255px;
	max-width: 200px;
	border-radius: 8px;
	height: 255px;
}
.divs4_1_right .divs4_right-top .divs4_right-top_tpim img{
   width: auto;
   height: auto;
   max-height: 100%;
   max-width: 100%;
}
.divs4_1_right .divs4_right-top .divs4_right-top_right{
    margin-left: 20px;
    text-align: center;
}
.divs4_right-top .divs4_right-top_right h3{
    font-family: 'Light';
    color: #fff;
    margin-top: 55px;
    font-size: 30px;
    margin-bottom: 5px;
}
.divs4_right-top .divs4_right-top_right h2{
    font-family: 'Bold';
    margin-top: 0;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.divs4_right-top .divs4_right-top_right a{
	width: 145px;
	height: 48px;
	background-color: #000000b3;
	color: #fff;
    font-family: 'Bold';
    font-size: 16px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.divs4_right-top .divs4_right-top_right a:hover{
	text-decoration: none;
}
.divs4_slider .divs4_1_right{
margin-left: 15px;
}
.divs4_1_right .divs4_right-botton{
	margin-top: 30px;
	width: 100%;
}
.divs4_right-botton .divs4_right-botton1{
	background-color: #42D9CE;
	border-radius: 8px;
	width: 50%;
	margin-right: 30px;
	text-align: center;
	height: 255px;
}
.divs4_right-botton .divs4_right-botton1 .divs4_right-botton1_imgdv{
    display: flex;
    justify-content: center;
	width: 100%;
	height: 145px;
	border-radius: 8px;
}
.divs4_right-botton .divs4_right-botton1 .divs4_right-botton1_imgdv img{
	max-width: 100%;
	width: auto;
	height: auto;
	max-height: 100%;
}
.divs4_right-botton .divs4_right-botton1 h4{
	color: #fff;
	font-size: 30px;
    font-family: 'Light';
    margin-bottom: 0;
    margin-top: 0;
}
.divs4_right-botton .divs4_right-botton1 h5{
    font-family: 'Bold';
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    margin-top: 0;
}
.divs4_right-botton .divs4_right-botton1 a:hover{
    text-decoration: none;
}
/*.single-item_ek4{
	display: flex;
	justify-content: space-between;
}*/
.divs4_right-botton .divs4_right-botton2{
	background-color: #CECECE;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    height: 255px;
}
.divs4_right-botton .divs4_right-botton2 h4{
	font-size: 30px;
    font-family: 'Light';
    color: #6B7072;
    margin-top: 32px;
    margin-bottom: 0;
}
.divs4_right-botton .divs4_right-botton2 h5{
	font-size: 30px;
    font-family: 'Bold';
    color: #fff;
    margin-top: 0px;
}
.divs4_right-botton .divs4_right-botton2 .divs4_right-botton2_div_img{
	display: flex;
	justify-content: center;
	max-width: 100%;
	max-height: 100%;
	height: 148px;
	border-radius: 8px;
}
.divs4_right-botton .divs4_right-botton2 .divs4_right-botton2_div_img img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.divs4_right-botton .divs4_right-botton2 a:hover{
	text-decoration: none;
}

.divs4_slider .slick-prev4 {
    position: absolute;
    top: calc(50% - 16px);
    left: -75px;
    width: 60px;
    height: 60px;
    border: #D4E2F4 1px solid;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
    outline: none;
}
.divs4_slider .slick-next4{
	position: absolute;
    top: calc(50% - 16px);
    right: -75px;
    width: 60px;
    height: 60px;
    border: #D4E2F4 1px solid;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
    outline: none;
}
.divs4_slider .slick-prev4 i{
	color: #3E457F;
	font-size: 25px;
}
.divs4_slider .slick-next4 i{
	color: #3E457F;
	font-size: 25px;
}
/*for woman*/
.for_woman_8 .for_woman-1div {
	position: relative;
	width: 255px;
	height: 327px;
	border: 1px solid #D6E3ED;
	border-radius: 8px;
	padding-left: 28px;
	margin-bottom: 30px;
	background-color: #fff;
}
.for_woman_8 .for_woman-1div a{
	text-decoration: none;
}
.for_woman_8 .for_woman-1div:hover{
	border-color: #4B4C9A;
}
 .for_woman_8 .for_woman-1div h5{
 	position: absolute;
 	width: 60px;
 	height: 28px;
 	display: flex;
 	justify-content: center;
 	top: 22px;
 	right: 0;
 	background-color: #FF7270;
 	align-items: center;
 	color: #fff;
 	font-family: 'Bold';
 	margin: 0;
 }
  .for_woman_8 .for_woman-1div h3{
  	color: #FF7270;
    font-family: 'Medium';
    font-size: 21px;
    margin-top: 25px;
  }
    .for_woman_8 .for_woman-1div h4{
  	color: #908E8B;
    font-family: 'Light';
    font-size: 16px;
    text-decoration: line-through;
    position: absolute;
    top: 46px;
    left: 28px;
  }
.for_woman_8 .for_woman-1div img{
    	width: auto;
    	max-height: 100%;
        max-width: 100%;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(0.95);
    -ms-transition: all 800ms ease-in;
    -ms-transform: scale(0.95);
    -moz-transition: all 800ms ease-in;
    -moz-transform: scale(0.95);
    transition: all 800ms ease-in;
    transform: scale(0.95);
    display: block;
    margin: 0 auto;
    }
.for_woman_8 .for_woman-1div  .for_woman-1div_imgd{
	width: 200px;
	height: 150px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.for_woman_8 .for_woman-1div  .for_woman-1div_imgd a{
	width: 100%;
	height: 100%;
    display: flex;
    align-items: center;
}
.for_woman_8 .for_woman-1div:hover img{
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
.for_woman_8 .for_woman-1div h6{
    color: #4B4C9A;
    font-family: 'Regular';
    font-size: 16px;
    max-width: 170px;
    line-height: 1.7;
    margin-top: 5px;
    max-height: 50px;
    overflow: hidden;
     }
.for_woman_8 .for_woman-1div_fev{
	display: flex;
	justify-content: space-between;
}
.for_woman_8 .for_woman-1div_fev .woman-1div_fev_card{
	display: flex;
	justify-content: space-between;
	width: 55px;
	height: 25px;
	align-items: center;
	margin-right: 20px;
}
.for_woman_8 .for_woman-1div_fev p{
    color: #9495D4;
    font-size: 14px;
    font-family: 'Regular';
}
.for_woman_8 .for_woman-1div_fev .woman_like{
	width: 19px;
	height: 16px;
	background-image: url(../img/likeicon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	margin-left: 25px;
}
.liked_items_main{
	background-image: url(../img/likeicon2.png) !important;
	width: 18px !important;
}
.carded_items_main{
	background-image: url(../img/card2.png) !important;
}
.for_woman_8 .for_woman-1div_fev .woman_card{
	width: 22px;
	height: 21px;
	background-image: url(../img/card.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 5px;
	cursor: pointer;
}
.for_woman_8{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.for_woman h1:first-child{
	font-size: 28px;
	color: #4C4C9A;
	display: flex;
	justify-content: center;
	margin-top: 95px;
	margin-bottom: 45px;
    font-family: 'Medium';
}
.for_woman .woman_link{
	width: 100%;
	height: 48px;
	background-color: #F6F9FB;
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}
.for_woman .woman_link a{
	display: flex;
	align-items: center;
	margin: 0;
	padding: 10px;
    font-family: 'Bold';
    font-size: 16px;
    color: #5D5DA2;

}
.for_woman .woman_link a:hover{
   color: #FF7270;
   text-decoration: none;
}
section.brend{
	min-height: 260px;
	padding-top: 80px;
}
section.brend .brend_alldiv .brend-imgdiv{
	height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    outline: none;
}
section.brend .brend_alldiv .brend-imgdiv img{
	max-width: 90% !important;
	max-height: 100%;
}
section.brend button.slick-next.slick-arrow{
    position: absolute;
    right: -13px;
    top: 0;
    font-size: 0;
    width: 11px;
    height: 17px;
    background: url(../img/next.png) no-repeat;
    background-size: 55%;
    background-position: center;
    border: none;
    outline: none;
    z-index: 2;
    bottom: 0;
    margin: auto;
}
section.brend button.slick-prev.slick-arrow{
    position: absolute;
    left: -13px;
    top: 0;
    font-size: 0;
    width: 11px;
    height: 17px;
    background: url(../img/prev.png) no-repeat;
    background-size: 55%;
    background-position: center;
    border: none;
    outline: none;
    z-index: 2;
    bottom: 0;
    margin: auto;
}
section.pay_4{
	background-color: #F6F9FB;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;

}
section.pay_4 .pay_all{
	display: flex;
	justify-content: space-between;
	max-width: 725px;
	width: 100%;
	margin: auto;
}
section.pay_4 .pay_all .pay{
    height: 90px;
    width: 145px;
    border-radius: 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #fff;
}
section.pay_4 .pay_all .pay img{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    bottom: 0;
}
.pay_all .pay_all1div{
	display: flex;
	justify-content: space-between;
	width: 47%;
}
footer.botton{
	background-color: #4C4C9A;
	padding-top: 50px;
	color: #fff;
}
footer.botton .footer_5icons{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
	border-bottom: 1px solid #6766A9;
}
footer.botton .footer_5icons2{
	display: flex;
	justify-content: space-between;
	width: 37%;
}
footer.botton .footer_5icons1{
	display: flex;
	justify-content: space-between;
	width: 58%;
}
.footer_5icons_div1{
	text-align: center;
	width: 180px;
}
.footer_5icons_div1 img{
    width: 100%;
    height: 100%;
    max-width:40px;
    max-height: 40px;
}
.footer_5icons_div1 .footer_5icons-img{
	height: 40px;
	width: 40px;
	margin: auto;
	display: flex;
	align-items: center;
}
.footer_5icons_div1 p{
	font-size: 16px;
    font-family: 'Light';
    margin-top: 28px;
    line-height: 2;
}
.footer_info{
	padding: 100px 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
    border-bottom: 1px solid #6766A9;
}
.footer_info .footer_info_1{
  width: 45%;
}
.footer_info .footer_info_23{
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.footer_info .footer_info_23_1{
	width: 35%;
}
.footer_info .footer_info_23_2{
	width: 65%;
}
.footer_info .info_11div h6{
    margin: 0;
    line-height: initial;
    font-size: 16px;
    color: #fff;
    font-family: 'Bold';
}
.footer_info .info_11div p{
    margin: 0;
    line-height: initial;
    font-size: 16px;
    color: #fff;
    font-family: 'Regular';
    margin-top: 8px;
}
.footer_info .info_11div{
	height: 55px;
	padding-left: 75px;
	padding-top: 5px;
	background-image: url(../img/call1.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

.footer_info .info_12div h6{
    margin: 0;
    line-height: initial;
    font-size: 16px;
    color: #fff;
    font-family: 'Bold';
}
.footer_info .info_12div p{
    margin: 0;
    line-height: initial;
    font-size: 16px;
    color: #fff;
    font-family: 'Regular';
    margin-top: 8px;
}
.footer_info .info_12div{
	height: 55px;
	padding-left: 75px;
	padding-top: 5px;
	background-image: url(../img/call2.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer_info_1 button{
	height: 55px;
	font-size: 16px;
	text-transform: uppercase;
    font-family: 'Bold';
    border: #C5BEFF 2px solid;
    background-color: #4C4C9A;
    background-image: url(../img/call3.png);
    background-repeat: no-repeat;
    background-position: -3px center;
    background-size: contain;
    padding-left: 67px;
    padding-right: 28px;
    border-radius: 6px;
    border-left-width: 7px;
}
.footer_info_23_1 h6{
	margin: 0;
	font-size: 16px;
    font-family: 'Bold';
}
.footer_info_23_1 ul li{
	list-style: none;
	margin-top: 15px;
}
.footer_info_23_1 ul li a{
	margin: 0;
	font-size: 16px;
    font-family: 'Regular';
    color: #fff;
}
.footer_info_23_2 h6{
	margin: 0;
	font-size: 16px;
    font-family: 'Bold';
}
.footer_info_23_2 ul li{
	list-style: none;
	margin-top: 15px;
}
.footer_info_23_2 ul li a{
	margin: 0;
	font-size: 16px;
    font-family: 'Regular';
    color: #fff;
}
footer.botton .bot_logoall {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    min-height: 115px;
}
.bot_logoall .bot_logo_img img{
    max-width: 260px;
}
.bot_logo_p p{
	font-size: 16px;
    font-family: 'Light';
}
.bot_logoal .bot_logo_p{
	max-width: 40px;
}
.bot_logo_sos p{
	font-size: 16px;
    font-family: 'Light';
}
.bot_logo_sos a{
	color: #fff;
	font-size: 16px;

}
.bot_logo_sos a:hover{
	text-decoration: none;
}

/*..................................................about us.............................................*/
section.about_free{
	background-image: url(../img/abouttop.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 340px;
	width: 100%;


}
section.about_free .about_free_h1{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    float: right;
    align-items: center;

	-webkit-box-shadow: inset -524px -32px 156px 6px rgb(240, 239, 238);
    -moz-box-shadow: inset -524px -32px 156px 6px rgb(240, 239, 238);
    box-shadow: inset -524px -32px 156px 6px rgb(240, 239, 238);
}
section.about_free .about_free_h1 h1{
	font-family: 'Medium';
	font-size: 70px;
	color: #633231;
	margin-top: 80px;
	margin-bottom: 0;
}
section.about_free .about_free_h1 h2{
    font-family: 'Regular';
	font-size: 50px;
	color: #FF7270;
	margin-top: 7px;
}
.about_content .abo_content_h1{
	text-align: center;
    border-bottom: 4px solid #4B4C9A;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 95px;
}
.about_content .abo_content_h1 h1{
    font-family: 'Medium';
    color:  #4B4C9A;
    font-size: 28px;
    margin-bottom: 25px;
    margin-top: 0;
}
.about_content .about_content_text {
	background-color: #F6F9FB;
	width: 100%;
    padding: 100px 90px 125px 90px;
}
.about_content .about_content_text p{
    font-family: 'Regular';
    font-size: 18px;
    color:  #4B4C9A;
    text-align: justify;
}
.about_content .about_content_text p:first-child{
	margin-bottom: 20px;
}
/*.........................................for men.........................................................*/
.breakpoint .breakpoint_all{
	display: flex;
	justify-content: space-between;
}
.breakpoint .slider_break{
	/*width: 58%;*/
	width: 655px;
    outline: none;
    height: 590px;
}
.breakpoint .slick_break {
	outline: none;
	border: #D7E3EE 1px solid;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

}



.breakpoint .breakpoint_all .break_sale{
	width: 40%;
	background-color: #F6F9FB;
	border-radius: 8px;
	border: 1px solid #D7E3EE;
}
.breakpoint .break_4div-all{
     display: flex;
     justify-content: space-between;
}
.break_sale .break_sale_con{
	position: relative;
}
.break_sale .break_sale_con h5{
    position: absolute;
    width: 145px;
    height: 65px;
    display: flex;
    justify-content: center;
    bottom: 18px;
    right: 0;
    background-color: #FF7270;
    align-items: center;
    color: #fff;
    font-family: 'Bold';
    margin: 0;
    font-size: 32px;
}
.break_sale .break_sale_con{
	width: 100%;
	border-bottom: 1px solid #D6E3ED;
}
.break_sale .break_sale_con h6{
	font-size: 30px;
	color: #4B4C9A;
    font-family: 'Regular';
    max-width: 400px;
    line-height: 1.5;
    padding-left: 27px;
    margin-bottom: 0;
}
.break_sale .break_sale_con p{
    color:#9495D4;
    font-family: 'Light';
    font-size: 30px;
    padding-left: 27px;
    margin-bottom: 5px;
}
.break_sale .break_sale_sec{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
.break_sale .break_sale_sec h2{
     font-family: 'Medium';
     font-size: 33px;
     color: #FF7270;
     text-align: center;
     margin-top: 6px;
     margin-bottom: 0;
}
.break_sale .break_sale_sec h3{
	font-size: 33px;
	color: #8A8784;
    font-family: 'Light';
    text-decoration:line-through;
    text-align: center;
    margin-top: 0;
}
.break_sale .break_sale_sec select{
	width: 100%;
	height: 45px;
	color: #4B4C9A;
	text-transform: uppercase;
    font-family: 'Regular';
    padding-left: 30px;
    border-radius: 6px;
    border: 1px solid #D6E3ED;
    position: relative;
    z-index: 1;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
.break_sale .break_sale_option{
	position: relative;
	margin-bottom: 10px;
	background-color: #fff;
}
.break_sale .break_sale_option span{
	position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: #4B4C9A;
    height: 45px;
    width: 20px;
    background: #fff;
    display: flex;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 0 6px 6px  0;
    border-top:1px solid #D6E3ED;
    border-right:1px solid #D6E3ED;
    border-bottom:1px solid #D6E3ED;
    z-index: 0;
}
.break_sale_option span i{
	padding-bottom: 7px;
}
.break_sale .break_sale_sec button{
	width: 100%;
	height: 50px;
	margin-bottom: 12px;
	background-color: #fff;
	color: #FF7270;
    font-family: 'Regular';
    font-size: 16px;
    border: 2px solid #FF7270;

}
.break_sale .break_sale_sec .active_for_card{
	color: #fff;
	background-color: #FF7270;
}
.break_sale .break_sale_sec .sp-po-bton{
	font-size: 16px;
	color: #6363A7;
	text-decoration: underline #B6B8D7;
	display: block;
    font-family: 'Regular';
	line-height: initial;
	margin-bottom: 20px;
	text-transform: uppercase;
	border: none;
	background-color: transparent;
	width: unset;
	height: unset;
}
section.breakpoint{
	padding-top: 37px;
}
.break_sale_sec p{
	text-transform: uppercase;
	color: #4C4C9A;
    font-family: 'Regular';
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 7px;

}
.breakpoint .slider_4div_btn{
	position: relative;
	margin-top: 25px;
	width: 100%;
}

.breakpoint .slider_4div_btn button.slick-nexta{
    position: absolute;
    top: calc(50% - 30px);
    right: 15px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: #c9c9c899;
    border-radius: 50%;
    z-index: 2;
    outline: none;
}
.breakpoint .slider_4div_btn button.slick-preva {
    position: absolute;
    top: calc(50% - 30px);
    left: 15px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: #c9c9c899;
    border-radius: 50%;
    z-index: 2;
    outline: none;
}
.breakpoint .slider_4div_btn .left-ab-pr-bt div a{
	width: 255px;
	height: 245px;
	border: 1px solid #D7E3EE;
	border-radius: 8px;
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.breakpoint .slider_4div_btn .left-ab-pr-bt div a img{
	max-width: 100%;
	max-height: 100%;
}
.slider_4div_btn .left-ab-pr-bt{
	margin-left: -15px;
	margin-right: -15px;
}
.slider_4div_btn button.slick-preva i {
    font-size: 25px;
    color: #fff;
}

.slider_4div_btn button.slick-nexta i {
    font-size: 25px;
    color: #fff;
}
section.suede .suede_all{
  padding: 40px 25px;
  color: #4C4C9A;
}
section.suede .suede_all h3{
    font-family: 'Bold';
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 20px;
}
section.suede .suede_all p{
    font-family: 'Regular';
    font-size: 18px;
}
section.suede .suede_all p:last-child{
	margin-top: 20px;
}
.suede_all_h4{
	text-align: center;
	margin-top: 35px;
	width: 100%;
	background-color: #F6F9FB;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 55px;
}
.suede_all_h4 h4{
	font-size: 20px;
    font-family: 'Bold';
    color: #5d5fa0;
    font-weight: 500;
}

/*.............................................................forman_body.................................................*/
body.forman_body{
background-image: url(../img/backimg.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.filtr_top .filtr_top_backimg{
	background-image: url(../img/forman.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	border-radius: 23px;
	display: flex;
}
.filtr_top_backimg
.price_size_left .checkbox2{
	width: 275px;
	background-color: #ccc;
}
.price_size_left .checkbox2  input{
 display: none;
}
.price_size_left .checkbox2  input:checked ~ .checkbox_label{
background: #FF7270;
color: #fff;
    font-family: 'Bold';
}
.price_size_left .checkbox2  input:checked ~ .checkbox_label.prace_lab{
background: #FF7270;
color: #fff;
text-decoration: underline;
}
.filtr_top .filtr_top_backimg_h1{
	width: 350px;
	text-align: center;
	background-color: #4B4C9A;
	height: 63px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
	border-radius:15px;
	margin-top: 26px;
}
.filtr_top .filtr_top_backimg_h1 h1{
    color: #fff;
    margin: 0;
    font-family: 'Medium';
    font-size: 36px;
}
.price_size .price_size_left{
	width: 275px;

}
.price_size .price_size_2div{
	display: flex;
	justify-content: space-between;
}
.price_size .price_size_right{
	width: 74.8%;
}


.price_size_left .accordionv1 {
    background-color: #4C4C9A;
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 48px;
	font-size: 15px;
    font-family: 'Bold';
	padding-left: 20px;
	border-radius: 6px;
	margin-bottom: 0;
	margin-top: 6px;
	padding-right: 30px;
}
.accordionv1.activev1, .accordionv1:hover {
    background-color: #4C4C9A;
    color: #fff;
}

.price_size_left .accordionv1:after {
    content: " ";
    width: 13px;
    height: 13px;
    border: solid 2px #fff;
    position: absolute;
    right: 10px;
    top: -8px;
    bottom: 0px;
    margin: auto;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    transition-duration: 0.2s;
}
.price_size_left .activev1:after {
    content: " ";
    width: 13px;
    height: 13px;
    border: solid 2px #fff;
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    transform: rotate(-135deg);
    border-left: none;
    border-top: none;
    transition-duration: 0.2s;
}

.price_size_left .panelv1 {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #cccccc54;
    border-radius: 6px;
}
section.price_size{
	padding-top: 40px;

}
.panel-od .checkbox2 label{
	font-size: 16px;
	color: #4C4C9A;
    font-family: 'Regular';
    width: 100%;
    display: block;
    padding-left: 20px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 500;
}
.panel-od .checkbox2 label:hover{
	background-color:rgba(255, 114, 112, 0.4588235294117647);
	color: #fff;
}
.paganation_all{
	text-align: center;
	padding-bottom: 40px;
	padding-top: 20px;
}
.paganation_all .pagination {
    display: inline-block;
}

.paganation_all .pagination ul li {
    color: #000;
    float: left;
    width: 24px;
    height: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Light';
    margin-left: 6px;
    margin-right: 6px;
}
.paganation_all .pagination ul li i{
	color: #B6B6B6;
	font-size: 15px;
}

.activeLi {
    background-color: #4C4C9A;
    color: #fff !important;
}
.activeLi a {
	color: #fff !important;
}
.paganation_all .pagination ul li:hover:not(.active) {
	background-color: #4c4c9a8c;
	color: #fff;
}
.paganation_all .paganation_div{
	border-top: 1px solid #4C4C9A;
}

.slick_break .top-left-ab-pr-bt{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slick_break .top-left-ab-pr-bt img{
	max-width: 100%;
	display: flex;
	align-items: center;

}
a.card{
	background-color: transparent;
	border: none;
	cursor: pointer;
}
a.card:hover{
text-decoration: none;
}
.card-p p{
	color: #4B4C9A;
    font-family: 'Regular';
}
.card-p p span{
	color: #FF7270;
}
.lnheader_navbar .navbar-nav>li>a:focus{
    background-color: transparent;
}

/*.......................................................favorite_free_body..............................................*/
section.favorite_free_body{
	background-image: url(../img/fvbacimg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 60px 0;
}
.favorite_free_body .favorite_free_all{
	background-color: #ffffffd4;
	border-radius: 8px;
	height: 510px;
	text-align: center;
	color: #4B4C9A;
	padding: 33px 24px;
}
.favorite_free_all .favorite_free-h1{
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: #7776B1 1px solid;
	border-bottom: #7776B1 1px solid;
	margin-bottom: 25px;
}
.favorite_free_all .favorite_free-h1 h1{
	margin: 0;
	line-height: initial;
	font-size: 25px;
    font-family: 'Black';
    text-transform: uppercase;
    color: #4B4C9A;
}
.favorite_free-h1 h1 span{
	color: #787878;
    font-family: 'Regular';
}
.favorite_free_all .favorite_free-no{
	display: flex;
	justify-content: center;
	align-items: center;
    height: 79%;
    font-family: 'Regular';
}
/*..........................................................favorite_prodocts.....................................................................*/
section.favorite_pro{
	background-image: url(../img/fav_pro.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 60px;
	padding-top: 60px;
}
section.favorite_pro .favorite_pro_all{
	background-color: #ffffffd4;
	padding: 28px 27px 15px 27px;
	border-radius: 8px;
}
.favorite_pro_all .for_woman_8 .for_woman-1div{
	background-color: #fff;
}
button.for_woman-1div_disap{
	background-color: #fff;
	border:none;
	float: right;
	margin-top: 13px;
	margin-right: 11px;
}
button.for_woman-1div_disap img{
	width: 17px;
	height: 17px;
}
button.for_woman-1div_disap i{
	width: 17px;
	height: 17px;
	font-size: 25px;
	font-weight: 500;
}
.favorite_pro_all .for_woman_8 .for_woman-1div h5{
	top: 44px;
}
.favorite_pro_all .for_woman_8 .for_woman-1div h3{
	margin-top: 50px;
}
.favorite_pro_all .for_woman_8 .for_woman-1div h4{
	top: 65px;
}
.favorite_pro_all .for_woman_8 .for_woman-1div{
	height: 345px;
	margin-bottom: 0;
}
button.for_woman-1div_ap{
	margin-top: 6px;
	margin-bottom: 50px;
	border: 1px solid #D6E3ED;
    border-radius: 6px;
    width: 255px;
    height: 50px;
    font-family: 'Medium';
    color: #fff;
    background-color: #FF7270;
    font-size: 21px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.favorite_pro_all .paganation_all{
	padding-top: 0;
	padding-bottom: 0;
}
.favorite_pro_all .btn-info:hover{
    background-color: #ff72708c;
        border-color: #D6E3ED;
}
.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #ff72708c;
        border-color: #D6E3ED;
}
.my_lnmodal-cons_top{
	display: flex;
	justify-content: space-between;
}
.cons_top_slider1{
	width: 100px;
}
.allmymodal .modal-dialog{
	width: 1170px;
}
.allmymodal .modal-title{
	color: #4B4C9A;
	font-size: 30px;
	text-transform: uppercase;
    font-family: 'Regular';
    padding-top: 10px;
}
.allmymodal .myall_modal_in{
	background-color: #4b4c9a69;
}
.allmymodal .myall_modal_in .modal-content{
	padding: 25px;
}

.allmymodal .myall_modal_in .modal-header{
	padding: 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #A3A3A3;
}
.myall_modal_in .modal-header .close{
	font-size: 60px;
	font-weight: 300;
}
.allmymodal .myall_modal_in  .modal-body{
	padding: 40px 0 0 0;
}
.allmymodal .myall_modal_in .cons_top_slider1{
	border-radius: 8px;
	width: 100%;
    height: auto;
    outline: none;
}

.cons_top_slider1 img{
	width: auto;
	height: auto;
	margin:auto;
	max-height: 100%;
	max-width: 100%;
}
.cons_top_slider1 .cons_top_slider1_div{
    max-width: 100%;
    max-height: 100%;
}
.cons_top_slider1_cover{
	height: 588px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #D6E3ED;
	border-radius: 8px;
	width: 655px;
}
.my_lnmodal-cons_top .break_sale{
	width: 430px;
	background-color: #F6F9FB;
	border-radius: 8px;
	border: 1px solid #D7E3EE;
}
.my_lnmodal-cons_top .break_sale .break_sale_sec .active_for_card{
	margin-top: 50px;
	margin-bottom: 52px;
}
.my_lnmodal-cons .all4_with-btn{
	position: relative;
	margin-top: 25px;
	margin-bottom: 40px;
}
.all4_with-btn button.slick-nextp {
    position: absolute;
    top: calc(50% - 30px);
    right: 15px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: #c9c9c899;
    border-radius: 50%;
    z-index: 2;
    outline: none;
}
.all4_with-btn  button.slick-prevp {
    position: absolute;
    top: calc(50% - 30px);
    left: 15px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: #c9c9c899;
    border-radius: 50%;
    z-index: 2;
    outline: none;
}
.all4_with-btn button.slick-nextp i {
    font-size: 25px;
    color: #fff;
}
.all4_with-btn button.slick-prevp i {
    font-size: 25px;
    color: #fff;
}
.all4_with-btn .all4_slider_bot{
	margin-left: -15px;
	margin-right: -15px;
}
.all4_slider_bot .all4_slider_bot_1{
	margin-left: 15px;
	margin-right: 15px;
}
.all4_slider_bot .all4_slider_bot_1{
	width: 255px;
	border-radius: 8px;
	border: #D6E3ED 1px solid;
	height: 245px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.all4_slider_bot .all4_slider_bot_1 img{
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.my_lnmodal-cons_top{
	width: 100%;
}
.lnheader_navbar .navbar .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color: #2B2B6B;
    background-color: transparent;
}
/*.............................................................................bascet.................................................................*/
.header3-div-register.mypersonal {
    background-color: #6262A7;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    position: relative;
}
.header3-div-register.mypersonal ul{
	position: absolute;
	top: 40px;
	left: 0;
	background-color: #fff;
	display: none;
    width: 160px;
    height: 83px;
    text-align: center;
-webkit-box-shadow: 1px 17px 47px 0px rgba(0,0,0,0.26);
box-shadow: 1px 17px 47px 0px rgba(0,0,0,0.26);
}
.header3-div-register.mypersonal ul li{
   list-style: none;
}
.header3-div-register.mypersonal ul li:first-child a{
	background-color: #C5BDFF;
}
.header3-div-register.mypersonal ul li a{
	width: 130px;
	background-color: blue;
	height: 30px;
    margin: 7px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #fff;
    font-family: 'Regular';
    border-radius: 6px;
    background-color: #4C4C9A;
}
.header3-div-register.mypersonal ul li a:hover{
    text-decoration: none;
}
.main_ul-none_bl{
	display: block !important;
}
.header3-div-register.mypersonal button{
	background-color: #6262A7;
}
.bascet_goods_6divs .bascet_goods_6divs-1{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 68px;

	align-items: center;
	color: #4B4C9A;
	text-transform: uppercase;
	font-size: 18px;
}
.bascet_goods_6divs .bascet_goods_6divs-2{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.bascet_goods_all_h4 .bascet_goods_all_h4_topp{
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 45px;
}
.bascet_goods_all_h4 .bascet_goods_all_h4_topp h4{
	font-size: 20px;
	color: #4B4C9A;
	text-align: center;
    font-family: 'Bold';
    margin: 0;
}
.bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-1{
   width: 7%;
   min-width: 50px;
   border-right: 1px solid  #E8E8E8;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bascet_goods_6divs  .bascet_goods_per_are{
	width: 5%;
   min-width: 50px;
   border-right: 1px solid  #E8E8E8;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bascet_goods_6divs-1 .bascet_goods_6-1 p{
	font-weight: 600;
}
.bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-2{
   width: 21%;
   min-width: 155px;
   border-right: 1px solid  #E8E8E8;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bascet_goods_6divs-1 .bascet_goods_6-2 p{
    font-family: 'Medium';
}
.bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-3{
   width: 22%;
   min-width: 150px;
   border-right: 1px solid  #E8E8E8;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bascet_goods_6divs-1 .bascet_goods_6-3 p{
    font-family: 'Medium';
}
.bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-4{
   width: 16%;
   min-width: 120px;
   border-right: 1px solid  #E8E8E8;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bascet_goods_6divs-1 .bascet_goods_6-4 p{
    font-family: 'Medium';
}
.bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-5{
   width: 16%;
   min-width: 115px;
   border-right: 1px solid  #E8E8E8;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bascet_goods_6divs-1 .bascet_goods_6-5 p{
    font-family: 'Medium';
}
.bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-6{
   width: 20%;
   min-width: 120px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bascet_goods_6divs-1 .bascet_goods_6-6 p{
    font-family: 'Medium';
}
.bascet_goods_6divs .bascet_goods_6divs-2{
 min-height: 285px;
/* border-bottom: 1px solid #E8E8E8;*/
}
.bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-1{
   width: 7%;
   min-width: 50px;
   border-right: 1px solid  #E8E8E8;
   display: flex;
   justify-content: center;
   padding-top: 20px;
   font-size: 21px;
   height: auto;
    font-family: 'Regular';
   color: #4B4C9A;
}

.bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-2{
   width: 21%;
   min-width: 155px;
   border-right: 1px solid  #E8E8E8;
   display: flex;
   justify-content: center;
   height: auto;
}
.bascet_goods_62-2 .bascet_goods_62-2_img{
	width: 196px;
	height: 178px;
	border-radius: 8px;
	border: 1px solid #D6E3ED;
	margin-top: 11px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}
.bascet_goods_62-2 .bascet_goods_62-2_img img{
	width: auto;
	height: auto;
	max-width: 95%;
	max-height: 95%;
}
.bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-3{
   width: 22%;
   min-width: 150px;
   border-right: 1px solid  #E8E8E8;
   height: auto;
}
.bascet_goods_62-3 .bascet_goods_62-3_all{
	max-width: 190px;
	margin: auto;
	margin-top: 20px;
	color: #4B4C9A;
}
.bascet_goods_62-3 .bascet_goods_62-3_all h6{
    margin: 0;
    font-family: 'Medium';
    font-size: 16px;
    line-height: 1.7;
}
.bascet_goods_62-3 .bascet_goods_62-3_all p{
    font-family: 'Regular';
    font-size: 13px;
    color: #9495D4;
    margin-top: 8px;
}
.bascet_goods_62-3_all .bascet_goods_62-3_wo{
	display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.bascet_goods_62-3_all .bascet_goods_62-3_wo h4{
	margin: 0;
	width: 50%;
	font-family: 'Medium';
	font-size: 16px;
}
.bascet_goods_62-3_all .bascet_goods_62-3_wo h3{
	margin: 0;
	width: 50%;
	font-size: 16px;
    font-family: 'Regular';
}
.bascet_goods_62-3_all a{
	margin-top: 30px;
	display: block;
	text-transform: uppercase;
	color: #A1A1A1;
	text-decoration: underline;
    font-family: 'Regular';
}
.bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-4{
   width: 16%;
   min-width: 120px;
   border-right: 1px solid  #E8E8E8;
   height: auto;
   display: flex;
   justify-content: center;
   padding-top: 20px;
}
.bascet_goods_6divs-2 .bascet_goods_62-4 p{
  color: #4B4C9A;
  font-size: 21px;
    font-family: 'Regular';
}
.bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-5{
   width: 16%;
   min-width: 115px;
   border-right: 1px solid  #E8E8E8;
   height: auto;
   display: flex;
   justify-content: center;
}
.bascet_goods_62-5 .prod_rew_amt_ctrl {
	margin-top: 20px;
	display: flex;
	height: 40px;
    justify-content: center;
    align-items: center;
}
.bascet_goods_62-5 .prod_rew_amt_ctrl input{
	width: 40px;
	height: 32px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #A1A1A1;
	margin-left: 0;
	margin-right: 0;
	font-size: 21px;
	color:  #4B4C9A;

}
.bascet_goods_62-5 .prod_rew_amt_ctrl button{
	width: 32px;
	height: 32px;
	border-radius: 4px;
	color: #fff;
	background-color: #A1A1A1;
	border: none;
	font-size: 21px;
}
.bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-6{
   width: 20%;
   min-width: 130px;
   height: auto;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}
.bascet_goods_6divs-2 .bascet_goods_62-6 p{
	text-align: center;
    color: #4B4C9A;
    font-size: 21px;
    font-family: 'Regular';
    margin-top: 20px;
}
.bascet_goods_6divs-2 .bascet_goods_62-6 a{
    text-transform: uppercase;
    color: #A1A1A1;
    text-decoration: underline;
    font-family: 'Regular';
    margin-bottom: 30px;
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 26px;
}
.bascet_goods .bascet_goods_6divs{
	overflow: auto;
}
.bascet_goods_6divs .bascet_goods_bot-h3-li{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}
.bascet_goods_6divs .bascet_goods_bot-h3-li h3{
	margin: 0;
	font-size: 20px;
	color: #50519D;
	font-family: 'Medium';
}
.bascet_goods_6divs .bascet_goods_bot-h3-li a {
	text-transform: uppercase;
	color: #A1A1A1;
	text-decoration: underline;
	font-family: 'Regular';
}
.bascet_goods_6divs .bascet_goods_bot-last_btn{
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 25px;
}
.bascet_goods_bot-last_btn .bascet_goods_bot-last_btn_il a{
   width: 190px;
   height: 34px;
   text-align: center;
   background-color: #FF7270;
   border-radius: 6px;
   border: none;
   font-family: 'Regular';
   color: #fff;
	padding-top: 6px;

}
.bascet_goods_bot-last_btn .bascet_goods_bot-last_btn_il a:hover {
    text-decoration: none;
    cursor: pointer;
}
#floating-panel {
	position: absolute!important;
	/*top: 10px!important;*/
	left: 42%!important;
	z-index: 10!important;
	/*background-color: #fff!important;*/
	padding: 3px!important;
	/*border: 1px solid #999!important;*/
	text-align: center!important;
	/*font-family: 'Roboto','sans-serif'!important;*/
	/*line-height: 30px!important;*/
	padding-left: 10px!important;
}
.ordering_next1-div button[disabled]{
	cursor: no-drop;
}
.bascet_goods_bot-last_btn a {
	width: 203px;
	height: 45px;
	background-color: #FF7270;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Regular';
	margin-right: 50px;
	border: none;
	border-radius: 6px;
	padding-top: 11px;
	text-align: center;
}
.ordering_content4-button-last a{
	width: 203px;
	height: 45px;
	background-color: #FF7270;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Regular';
	margin-right: 50px;
	border: none;
	border-radius: 6px;
	padding-top: 11px;
	text-align: center;
}
.bascet_goods_bot-last_btn a:hover {
	text-decoration: none;
	cursor: pointer;
}
.ordering_content4-button-last a:hover {
	text-decoration: none;
	cursor: pointer;
}
.bascet_goods_bot-last_btn .bascet_goods_bot-last_btn_il{
   display: flex;
   justify-content: center;
   align-items: center;
}
.bascet_goods_bot-last_btn p{
    color: #4B4C9A;
   font-family: 'Regular';
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
}
/*.............................................................login_er.........................................................................................*/
section.login_ek{
	height: 875px;
	width: 100%;
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_ek .login_ek_2div-1div{
	width: 475px;
	height: 400px;
	background-color: #fff;
	margin-right: 33px;
	border-radius: 6px;
	border: 1px solid #D6E3ED;
	text-align: center;
}
.login_ek .login_ek_2div-2div{
	width: 475px;
	height: 400px;
	background-color: #fff;
	margin-left: 33px;
	border-radius: 6px;
	border: 1px solid #D6E3ED;
	text-align: center;
}
.login_ek .login_ek_2div{
	width: 100%;
	display: flex;
	justify-content: center;
}
.login_ek .login_ek_2div-1div h4{
	width: 100%;
	height: 72px;
	background-color: #4B4C9A;
	text-align: center;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px 6px 0 0;
	font-size: 23px;
    font-family: 'Regular';
    color: #fff;
    margin-bottom: 19px;
}
.login_ek .login_ek_2div-1div input{
	width: 396px;
	height: 57px;
	border: #DDE8F0 1px solid;
	padding-left: 7px;
	padding-right: 7px;
    font-family: 'Regular';
    color: #A1A1A1;
    margin: auto;
    margin-top: 24px;
}
.login_ek .login_ek_2div-1div button{
	width: 396px;
	height: 57px;
	border: #DDE8F0 1px solid;
    font-family: 'Regular';
    color: #A1A1A1;
    margin: auto;
    margin-top: 24px;
    background-color: #FF7270;
    color: #fff;
    font-size: 18px;
}
.login_ek .login_ek_2div-1div a{
	color: #A1A1A1;
	margin-top: 20px;
    font-family: 'Regular';
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
.login_ek_2div-2div h4{
	width: 100%;
	height: 72px;
	background-color: #4B4C9A;
	text-align: center;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px 6px 0 0;
	font-size: 23px;
    font-family: 'Regular';
    color: #fff;
}
.login_ek_2div-2div p{
	margin: 50px 50px 54px 50px;
	font-size: 18px;
    font-family: 'Regular';
    color: #4B4C9A;
}
.login_ek_2div-2div p span{
	text-transform: uppercase;
    font-family: 'Bold';
}
.login_ek_2div-2div  a{
	width: 396px;
	height: 57px;
	border: #DDE8F0 1px solid;
    font-family: 'Regular';
    color: #A1A1A1;
    margin: auto;
    margin-top: 24px;
    background-color: #4C4C9B;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.login_ek_2div-2div  a:hover{
	text-decoration:none;
}
/*..............................................................registration_ek..........................................................................*/
section.registration_ek{
	min-height: 950px;
	background-image: url(../img/registration1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 177px;
	padding-top: 82px;
	width: 100%;
}
.registration_top_h1 h1{
	margin-top: 0;
	font-size: 30px;
    font-family: 'Regular';
    color: #4B4C9A;
    margin-bottom: 50px;
}
.registration_top_h1 h1 span{
	    font-family: 'Bold';
}
.registration_ek-all .registration_making{
	width: 100%;
	background-color: #F6F6F6;
	border: #D6E3ED 1px solid;
	border-radius: 6px;
}
 .registration_making  h4{
    width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 6px 6px 0 0;
    background-color: #4B4C9A;
    color: #fff;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Regular';
    font-size: 18px;
    text-transform: uppercase;
 }
  .registration_making  h6{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Regular';
    margin-top: 20px;
    color: #3E3E3E;
    font-size: 18px;
    padding-right: 28px;
 }
 .registration_making_all .registration_making-nball{
 	max-width: 790px;
 	padding-top: 40px;
 	margin-bottom: 75px;
 }
 .registration_making-nball .registration_making_all_1{
 	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 }
  .registration_making_all input{
  	height: 28px;
  	border-radius: 6px;
  	border: #D6E3ED 1px solid;
  	padding-left: 10px;
  	padding-right: 10px;
  	width: 445px;
  }
.registration_making_all h5{
	color: #4B4C9A;
	font-size: 18px;
    font-family: 'Regular';
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 7px;
}
.registration_making_all_1_p p{
	color: #3E3E3E;
	font-size: 12px;
    font-family: 'Regular';
    display: flex;
    justify-content: flex-start;
    width: 440px;
    margin-top: 5px;
}
.registration_making_all_1_p p a{
	color: #3E3E3E;
	text-decoration: underline;
}
.registration_making_all .registration_making_all_1_p{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.registration_making_all .registration_making_all_2{
	display: flex;
	justify-content: flex-end;
	margin-top: 25px;
	align-items: center;
}
.registration_making_all .registration_making_all_3{
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
	align-items: center;
}
.registration_making_all .registration_making_all_3 input{
	width: 170px;
}
.registration_making_all .registration_making_all_3 h5{
	font-size: 14px;
	margin-left: 15px;
}
.registration_making_all .registration_making_all_3 button{
	width: 137px;
	border-radius: 6px;
	border: none;
	background-color: #FF7270;
	color: #fff;
	height: 28px;
	font-family: 'Regular';
}
.registration_making_all .registration_making_all_4{
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
	align-items: center;
}
.registration_making_all .registration_making_all_5{
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	align-items: center;
}
.registration_making_all .registration_making_all-btn{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 45px;
}
.registration_making_all .registration_making_all-btn button{
   width: 304px;
   height: 45px;
   margin-right: 75px;
   border: none;
   background-color: #FF7270;
    font-family: 'Regular';
   color: #fff;
}
/*.....................................................................................welcome.................................................................*/
section.welcome{
	background-image: url(../img/welcome.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 765px;
    width: 100%;
    padding-top: 95px;
    padding-bottom: 95px;
}
.welcome .welcome_2divs{
	display: flex;
	justify-content: space-between;
}
.welcome_2divs .welcome_2divs_2{
	width: 623px;
	text-align: center;
	background-color: #ffffffd6;
	border: #D7E8FF 1px solid;
	border-radius: 8px;
	padding-left: 50px;
	padding-right: 50px;
}
.welcome_2divs_2 h2{
	color: #4B4C9A;
	font-size: 30px;
    font-family: 'Bold';
    margin-top: 56px;
    margin-bottom: 0;
}
.welcome_2divs_2 h2 span{
   text-transform: uppercase;
}
.welcome_2divs_2 p{
	font-size: 18px;
	color: #4B4C9A;
    font-family: 'Regular';
    margin-top: 25px;
}
.welcome_2divs_2 a{
	width: 300px;
	height: 45px;
	margin: 40px auto;
	background-color: #FF7270;
    font-family: 'Bold';
	border: none;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.welcome_2divs_2 a:hover{
	text-decoration: none;
}
.welcome_2divs .welcome_2divs_1 {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.welcome_2divs .welcome_2divs_1 h1{
	color: #fff;
    font-family: 'Bold';
    font-size: 40px;
    margin: 0;
}
/*............................................................ aplication...................................................................*/
.footer_info_1  .btn-primary:hover{
	color: #fff;
    background-color: transparent;
    border-color: #C5BEFF;
}
.footer_info_1 .btn-primary:focus, .footer_info_1 .btn-primary:active:focus{
    color: #fff;
    background-color: transparent;
    border-color: #C5BEFF;
}
.footer_info_1 .btn-primary:active{
    color: #fff;
    background-color: transparent;
    border-color: #C5BEFF;
}
.footer_info_1 .btn-primary:active{
	background-image: url(../img/call3.png);
}
.my_appl .modal{
	background-color: #4b4c9a69;
}
.my_appl .modal-content{
	background-color: #4B4C9A;
	padding: 15px;
	box-shadow: none;
	border: none;
}
.my_appl button.close{
	 position: absolute;
	 top: 10px;
	 right: 10px;
	color: #fff;
    font-size: 60px;
    font-weight: 300;
}
.my_appl  h5#exampleModalLabel{
	color: #fff;
	font-family: 'Medium';
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 3px;
}
.my_appl .modal-header{
	border-bottom: 1px solid #A3A3A3;
}
.my_appl_mdbody p{
	font-size: 18px;
    font-family: 'Regular';
    color: #fff;
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 20px;
    text-transform: uppercase;
}
.my_appl_mdbody .my_appl_mdbody-1, .my_appl_mdbody .my_appl_mdbody-2, .my_appl_mdbody .my_appl_mdbody-3, .my_appl_mdbody .my_appl_mdbody-4{
	width: 100%;
	text-align: center;
}
.my_appl_mdbody input{
	height: 45px;
}
.my_appl_mdbody input, .my_appl_mdbody textarea{
	width: 512px;
	border-radius: 6px;
	border: 1px solid #DBDBDB;
	color: #000;
	padding-left: 10px;
	padding-right: 10px;
}
.my_appl_mdbody textarea{
	height: 320px;
}
.my_appl_mdbody button{
   width: 180px;
   height: 50px;
   color: #fff;
   font-size: 16px;
   font-family: 'Regular';
   background-color: #FF7270;
   border-radius: 6px;
   border: none;
   margin-top: 10px;
   text-transform: uppercase;
}
.set_password_ek.login_ek .login_ek_2div-1div{
	margin-right: 0;
}
.set_password_ek_diva p{
	width: 100%;
	padding-left: 50px;
   font-family: 'Regular';
   font-size: 18px;
   display: flex;
}
.set_password_ek.login_ek .login_ek_2div-1div input{
	margin-top: 0;
	margin-bottom: 20px;
}
.set_password_ek.login_ek .login_ek_2div-1div button{
	margin-top: 10px;
}
section.set_password_ek.login_ek{
	background-image: url(../img/set_password.png);
}
.registration_making_all .restore_password_div2 input{
 width: 312px;
}
.restore_password_div1{

}
.restore_password .registration_making_all .registration_making-nball{
  padding-top: 80px;
}
.restore_password .registration_making_all .registration_making_all_1 h5{
		margin-right: 48px;
}
.restore_passd p{
	width: 585px;
}
.registration_making_all .restore_passbtn button{
   width: 190px;
   margin-right: 126px;
}
section.registration_ek.restore_password{
background-image: url(../img/restore.png);
}
section.basket_for-m{
	padding-bottom: 40px;
}
/*.............................................................................................personal area.....................................................*/
.personal_ar_history .bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-1{
   width: 6%;
   min-width: 50px;
   border-right: 1px solid  #E8E8E8;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bascet_goods_6divs  .bascet_goods_per_are{
	width: 11%;
   min-width: 100px;
   border-right: 1px solid  #E8E8E8;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
    font-family: 'Medium';
}
.personal_ar_history .bascet_goods_per_are_bot{
	width: 11%;
    min-width: 100px;
    border-right: 1px solid #E8E8E8;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 16px;
    height: auto;
    font-family: 'Regular';
    color: #4B4C9A;
	border-bottom: 1px solid #E8E8E8;
}
.personal_ar_history  .bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-1{
    width: 6%;
}
.bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-1, .bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-2, .bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-3,
.bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-4, .bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-5, .bascet_goods_6divs .bascet_goods_6divs-1 .bascet_goods_6-6,
.bascet_goods_6divs .bascet_goods_per_are{
	border-bottom: 1px solid #E8E8E8;
	border-top: 1px solid #E8E8E8;
}
.bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-1, .bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-2, .bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-3,
.bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-4, .bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-5, .bascet_goods_6divs .bascet_goods_6divs-2 .bascet_goods_62-6{
	border-bottom: 1px solid #E8E8E8;
}
.bascet_goods_62-5 p{
	color: #4B4C9A;
    font-size: 21px;
    font-family: 'Regular';
    margin-top: 20px;
}
.personal_ar_history .bascet_goods_6divs .bascet_goods_6divs-2{
	min-height: 230px;
	margin-bottom: 60px;
}
section.personal_ar_history{
	background-color: #F6F6F6;
}
.personal_area_info_h1top h1{
	font-size: 24px;
	color: #4B4C9A;
	margin: 0;
	text-transform: uppercase;
    font-family: 'Bold';
    margin-left: 16px;
}
section.personal_area_info{
	padding-top: 70px;
	background-color:  #F6F6F6;

	border-top: 1px solid #F0F1F2;
}
.personal_area_info_h1top p{
	font-size: 14px;
	font-family: 'Regular';
	text-transform: uppercase;
	margin-top: 15px;
	margin-left: 16px;
}
.personal_area_info_h1top p span{
	text-transform: lowercase;
}
.personal_area_info-tabs .personal_area_info-tabs_h4{
	width: 100%;
	background-color: #4B4C9A;
	border-radius: 8px 8px 0 0;
	border: 1px solid #D6E3ED;
	border-bottom: none;
	height: 40px;
	padding-left: 18px;
}
.personal_area_info-tabs_h4 h4{
	color: #fff;
	font-size: 18px;
	font-family: 'Regular';
	text-transform: uppercase;
}
.person_area_info-2tabs .nav-tabs>li{
	width: 50%;
	height: 106px;
	background-color: #DFDFDF;
}
.person_area_info-2tabs .nav-tabs>li>a{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	border-radius: 0;
	border: none;
	font-size: 18px;
	font-family: 'Bold';
	color: #4B4C9A;
	text-transform: uppercase;
}
.person_area_info-2tabs .nav-tabs>li.active>a, .person_area_info-2tabs .nav-tabs>li.active>a:focus, .person_area_info-2tabs .nav-tabs>li.active>a:hover{
	border: none;
		color: #4B4C9A;
}
.person_area_info-2tabs .nav-tabs{
	border: none;
}
.personal_area_info .personal_area_info-tabs{
	margin-top: 45px;
}
.personal_area_info .tab-content>.tab-pane{
	border-radius: 0  0 8px 8px;
	border: 1px solid #D6E3ED;
	min-height: 325px;
	background-color: #fff;
}
.info-tab_all-1-topp{
	width: 100%;
	text-align: center;
	margin-top: 18px;
}

.info-tab_all-1-topp p{
	font-size: 18px;
	font-family: 'Regular';
}
.info-tab_all-1 .info-tab_all-1-frs-in{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
	font-family: 'Regular';
}
.info-tab_all-1-frs-in .info-tab_all-1-frs-in-left{
	width: 50%;

}
.info-tab_all-1-frs-in .info-tab_all-1-frs-in-right{
	width: 50%;

}
.info-tab_all-1-frs-in input{
	width: 350px;
	height: 28px;
    border-radius: 6px;
    border: #D6E3ED 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}
.info-tab_all-1-frs-in h6{
	font-size: 16px;
	text-transform: uppercase;
	color: #4B4C9A;
	margin: 0;
	margin-right: 12px;
}
.info-tab_all-1-frs-in .info--in-left{
	display: flex;
	justify-content: flex-end;
    margin-bottom: 35px;
	margin-right: 50px;
    align-items: center;
}
.info-tab_all-1-frs_btn{
	display: flex;
	justify-content: center;
     flex-direction: column;
     margin-top: 15px;
}
.info-tab_all-1-frs_btn button{
	width: 207px;
	height: 45px;
	color: #fff;
	background-color: #FF7270;
	text-transform: uppercase;
	border: none;
	margin: auto;
	font-family: 'Regular';
	font-size: 16px;
}
.info-tab_all-1-frs_btn a{
	color: #A6A6A6;
	margin: auto;
	font-family: 'Regular';
	font-size: 18px;
	text-decoration: underline;
	margin-top: 13px;
}

.info-tab_all-1 .info-tab_all-1-second{
display: flex;
width: 100%;
justify-content: space-between;
padding-top: 70px;
padding-bottom: 30px;
}
.info-tab_all-1-second .info-tab_-second-1{
	width: 100%;
	padding-left: 17%;
}
.info-tab_all-1-second .info-tab_-second-2{
	width: 100%;
}
.info-tab_-second-1 .info-tab_-second-1-top{
   width: 100%;
   display: flex;
   justify-content: center;
}
.info-tab_-second-1 .info-tab_-second-1-bottom{
	width: 100%;
   display: flex;
   justify-content:center;
   margin-top: 25px;
}
.info-tab_-second-2 .info-tab_-second-1-top{
	width: 100%;
   display: flex;
   justify-content: center;
}
.info-tab_-second-2 .info-tab_-second-2-bottom{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 25px;
}
.info-tab_-second-2 .info-tab_-second-2-top{
	width: 100%;
	display: flex;
	justify-content: center;
}
.info-tab_all-1-second h6{
	font-size: 16px;
    text-transform: uppercase;
    color: #4B4C9A;
}
.info-tab_-second_h6-wi{
	width: 70px;
}
.info-tab_-second_h6-wi2{
	width: 350px;
}
.info-tab_all-1 .info-tab_all-1-frs {
	display: none;
}
.info-tab_all-1-frs-block{
	/*display: block !important;*/
}
.info-tab_all-1-second_all{
	font-family: 'Regular';
}

.info-tab_all-1-second_all, .info-tab_all-1-frs{
	display: none;
}

.div-m-active{
	display: block !important;
}
.info_all_second-all_wbtn .info_all_second-all{
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 18px;
	font-family: 'Regular';
	color: #4B4C9A;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.info_all_second-all .info_all_second-all-left, .info_all_second-all .info_all_second-all-right{
	width: 50%;
	padding-left: 75px;
}
.info_all_second-all .info__second--left{
	margin-top: 50px;
	display: flex;
	align-items: center;
}
.info_all_second-all_wbtn, .info_all_second-all_wbtn2{
	display: none;
}
.div-m-active-2{
	display: block !important;
}
.info_all_second-input-left-1 .info_all_second-select-left-1{
	position: relative;
    background-color: #fff;
    width: 350px;
}
.info_all_second-select-left-1 select {
    width: 100%;
    height: 28px;
    color: #4B4C9A;
    text-transform: uppercase;
    font-family: 'Regular';
    padding-left: 30px;
    border-radius: 6px;
    border: 1px solid #D6E3ED;
    position: relative;
    z-index: 1;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.info_all_second-select-left-1 span{
	position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: #4B4C9A;
    height: 28px;
    width: 20px;
    background: #fff;
    display: flex;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 0 6px 6px 0;
    border-top: 1px solid #D6E3ED;
    border-right: 1px solid #D6E3ED;
    border-bottom: 1px solid #D6E3ED;
    z-index: 0;
}
.info_all_second-select-left-1 span i {
    padding-bottom: 7px;
}
.info_all_second-input-left-1{
	display: flex;
	margin-top: 15px;
	margin-bottom: 30px;
	align-items: center;
}
.info_all-leon input{
	height: 28px;
    border-radius: 6px;
    border: #D6E3ED 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
}
.info_all_second-all_wbtn2 .info_all-leon{
	display: flex;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 30px;
}
.info_all_second-all_wbtn2 .info-tab_all-1-topp-break {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.info-tab_all-1-topp-break p{
    font-size: 16px;
    text-transform: uppercase;
    color: #4B4C9A;
    width: 176px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    }
.info_all_second-input-left, .info_all_second-input-right{
	width: 50%;
}
/*....................................................................ordering........................................................................................*/
section.ordering{
	background-image: url(../img/of-za.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 98px;
	padding-bottom: 115px;
	min-height: 1500px;
}
.ordering_all .ordering_all-top_h1{
	width: 100%;
	height: 70px;
	text-align: center;
	background-color: #FF7270;
	border-radius: 6px;
	border: 1px solid #D6E3ED;
	display: flex;
	margin-bottom: 8px;
}
.ordering_all-top_h1 h1{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-size: 23px;
	font-family: 'Regular';
	color: #fff;
}
.ordering_all .panel-heading{
	height: 68px;
	display: flex;
	align-items: center;
	padding: 0;
	background-color: #4B4C9A;
	border: 1px solid #D6E3ED;
	border-bottom: none;
	border-radius: 6px;
}
.ordering_all .panel-heading:hover{
	background-color: #4b4c9aad;
}
.ordering_all .panel-title>a{
    padding-left: 96px;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    font-family: 'Regular';
    color: #fff;
    font-size: 23px;
}
.ordering_all .panel-title>a:hover{
    text-decoration: none;
}
.ordering_all .panel-title>a:focus{
    text-decoration: none;
}
.ordering_all  .panel-title{
	width: 100%;
	height: 100%;
}
.ordering_all .panel-body{
	padding: 0 27px;
}
.lich-ad_all .lich-dan-h4{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.lich-dan-h4 h4{
	font-size: 23px;
	font-family: 'Regular';
	color: #4B4C9A;
	margin: 0;
}
.ordering_content .lich-ad_all{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.lich-ad_all .lich-dan{
	width: 512px;
}
.lich-ad_all .ad-dost{
	width: 512px;
}
.lich-dan .lich-dan_inputs{
	width: 100%;
}
.lich-dan_inputs .lich-dan_inputs_1{
	width: 100%;
}
.lich-dan_inputs_1 input{
	width: 100%;
	height: 45px;
	border: 1px solid #4B4C9A;
	border-radius: 6px;
	padding-left: 10px;
	padding-right: 10px;
	color: #4B4C9A;
	font-family: 'Regular';
}
.lich-ad_all p{
	margin-left: 30px;
	font-size: 18px;
	font-family: 'Regular';
	color: #4B4C9A;
	text-transform: uppercase;
	margin-top: 22px;
}
.lich-dan_inputs .lich-dan_inputs_3btn{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 47px;
	align-items: center;
}
.lich-dan_inputs_3btn button{
	width: 150px;
    border-radius: 6px;
    border: none;
    background-color: #FF7270;
    color: #fff;
    height: 45px;
    font-family: 'Regular';
}
.lich-dan_inputs_3btn input{
	width: 194px;
    height: 45px;
    border: 1px solid #4B4C9A;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: #4B4C9A;
    font-family: 'Regular';
}
.lich-dan_inputs_3btn p{
	margin: 0;
}
.lich-dan_inputs a{
	color: #4B4B4B;
	font-size: 12px;
	font-family: 'Regular';
	text-decoration: underline;
	margin-left: 10px;
	margin-top: 7px;
	display: block;
}
.ad-dost-sec-p .ad-dost-sec{
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
}
.ad-dost-sec-p .ad-dost-sec select{
	width: 100%;
    height: 45px;
    color: #4B4C9A;
    text-transform: uppercase;
    font-family: 'Regular';
    padding-left: 30px;
    border-radius: 6px;
    border: 1px solid #4B4C9A;
    position: relative;
    z-index: 1;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.ad-dost-sec-p .ad-dost-sec span{
	position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: #4B4C9A;
    height: 45px;
    width: 20px;
    background: #fff;
    display: flex;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 0 6px 6px 0;
    border-top: 1px solid #D6E3ED;
    border-right: 1px solid #D6E3ED;
    border-bottom: 1px solid #D6E3ED;
    z-index: 0;
}
.ad-dost-sec span i{
	padding-bottom: 7px
}
.ad-dost .uli-index-all{
	width: 100%;
}
.uli-index-all .uli-index-top {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.uli-index-all .uli-index-top-left{
	width: 240px;
}
.uli-index-all .uli-index-top-left input{
     width: 100%;
    height: 45px;
    border: 1px solid #4B4C9A;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: #4B4C9A;
    font-family: 'Regular';
}
.ordering-map-img iframe{
	width: 100%;
	min-height: 300px;
	border: 1px solid #4B4C9A;
	border-radius: 8px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.ordering_content .ordering-map{
	margin-top: 40px;
	border-top: 1px solid #E8E8E8;
}
.ordering-map .ordering-map-h4{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ordering-map-h4 h4{
	font-size: 14px;
	color: #A1A1A1;
	font-family: 'Regular';
}
.ordering_all .ordering_next1-div{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
	margin-bottom: 30px;
}
.ordering_next1-div .ordering_next1{
    width: 150px;
    height: 45px;
    background-color: #FF7270;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Regular';
    margin-right: 27px;
    border: none;
    border-radius: 6px;
}
.ordering_content2 h1{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 70px;
	color: #4B4C9A;
	font-family: 'Regular';
	font-size: 23px;
}
.ordering_content2 .ordering_content22{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-right: 69px;
	padding-left: 69px;
	margin: auto;
}
.ordering_content2 .ordering_content22 img{
	max-height: 67px;
	max-width: 175px;
}
.ordering_content2 .ordering_content22 p{
	font-family: 'Medium';
	color: #4B4C9A;
	font-size: 16px;
}
.ordering_content22 .ordering_content2-select{
	position: relative;
    background-color: #fff;
}
.ordering_content22 .ordering_content2-select select{
    width: 300px;
    height: 45px;
    color: #4B4C9A;
    text-transform: uppercase;
    font-family: 'Regular';
    padding-left: 30px;
    border-radius: 6px;
    border: 1px solid #4B4C9A;
    position: relative;
    z-index: 1;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.ordering_content22 .ordering_content2-select span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: #4B4C9A;
    height: 45px;
    width: 20px;
    background: #fff;
    display: flex;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 0 6px 6px 0;
    border-top: 1px solid #D6E3ED;
    border-right: 1px solid #D6E3ED;
    border-bottom: 1px solid #D6E3ED;
    z-index: 0;
    }
.ordering_content2-select span i {
    padding-bottom: 7px;
}
.ordering_prev2-divw{
	display: flex;
	justify-content: space-between;
	width: 100%;
    padding-left: 96px;
    padding-right: 96px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	align-items: center;
}
.ordering_prev2-divw button:last-child{
    width: 150px;
    height: 45px;
    background-color: #FF7270;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Regular';
    border: none;
    border-radius: 6px;
}
.ordering_prev2-divw button:first-child{
	border: none;
	background-color: transparent;
	text-decoration: underline;
	color: #A5A5A5;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Regular';
}
.ordering_content3-img1 input{
	display: none;
}
.ordering_content3-img1 input:checked ~ .checkbox_label.prace_lab2{
	background: #FF7270;
    color: #fff;
    text-decoration: underline;
}




.ordering_content3_img1 [type="radio"]:checked,
.ordering_content3_img1  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.ordering_content3_img1  [type="radio"]:checked + label,
.ordering_content3_img1  [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
}
.ordering_content3_img1  [type="radio"]:checked + label:before,
.ordering_content3_img1  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #E8E8E8;
    right: 0;
    margin: auto;
}
.ordering_content3_img1  [type="radio"]:checked + label:after,
.ordering_content3_img1  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #4B4C9A;
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    bottom: -27.5px;
    right: 0;
    margin: auto;
    left: 0;
    width: 20px;
    height: 20px;
}
.ordering_content3_img1  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.ordering_content3_img1  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.ordering_content3_4div{
	display: flex;
	justify-content: center;
	margin-top: 125px;
}
.ordering_content3_4div .ordering_content3_img1 span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 125px;
}
.ordering_content3_4div .ordering_content3_img1 {
    margin-left: 40px;
    margin-right: 40px;
}
.ordering_content4-botton .bascet_goods_6divs{
	    overflow: auto;
}
.ordering_content4-botton .bascet_goods_62-5 span{
   margin-top: 20px;
   text-align: center;
   width: 38px;
   height: 30px;
   border: 1px solid #ACACAC;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   font-size: 18px;
   font-family: 'Regular';
   color: #4c4e98;
}
.ordering .ordering_content4{
	margin-left: 50px;
	margin-right: 50px;
}
.ordering_content4 .ordering_content4-top{
	display: flex;
    width: 100%;
    border-right: 1px solid #E9E9E9;
    height: 360px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.ordering_content4-top .ordering_content4-top-1, .ordering_content4-top .ordering_content4-top-2,
.ordering_content4-top .ordering_content4-top-3, .ordering_content4-top .ordering_content4-top-4{
	width: 50%;
	border: 1px solid #E9E9E9;
	border-right: none;
	position: relative;
}
.ordering_content4-top h3{
	border-bottom: 1px solid #E9E9E9;
	text-align: center;
	height: 68px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Medium';
    font-size: 18px;
    color: #4B4C9A;
}
.ordering_content4-top .ordering_content4-top-12{
	height: 100%;
	width: 100%;
    margin-top: 60px;
}
.ordering_content4-top-12 .ordering_content4-top-12-flex{
	display: flex;
	justify-content: space-between;
	margin-left: 17px;
	align-items: center;
	height: 60px;
	overflow: hidden;
}

.ordering_content4-top p{
	color: #4B4C9A;
	font-size: 14px;
	font-family: 'Medium';

}
.ordering_content4-top-12-flex span{
   font-size: 14px;
   color: #4B4C9A;
   font-family: 'Regular';
   width: 70%;
}
.ordering_content4-top a{
	position: absolute;
	bottom: 27px;
	right: 10px;
	font-size: 14px;
	color: #7A7A7A;
	font-family: 'Regular';
	text-decoration: underline;
}
.ordering_content4-top-13 .ordering_content4-top-13-fix{
	display: flex;
	margin-left: 30px;
	align-items: center;
	height: 45px;
	overflow: hidden;
}
.ordering_content4-top-13-fix span{
	margin-left: 30px;
   font-size: 14px;
   color: #4B4C9A;
   font-family: 'Regular';

}
.ordering_content4-top-13  .ordering_content4-top-13-fix:first-child span{
	margin-left: 24px;
}
.ordering_content4-top-3 .ordering_content4-top-13{
	display: flex;
	margin: auto;
	height: 80px;
	max-width: 200px;
	justify-content: center;
	margin-top: 100px;

}
.ordering_content4-top-3 .ordering_content4-top-13 p{
	text-align: center;
		line-height: 2;
		font-size: 14px;
}
.ordering_content4-top-13 p span{
	font-size: 21px;
}
.ordering_content4-top-4 .ordering_content4-top-14{
	display: flex;
	margin: auto;
	height: 80px;
	max-width: 200px;
	justify-content: center;
	margin-top: 100px;

}
.ordering_content4-top-4 .ordering_content4-top-14 p{
	text-align: center;
		line-height: 2;
	font-size: 16px;
}
.ordering_content4-top_divs-first{
	display: flex;
	width: 50%;
}
.ordering_content4-top_divs-second{
	display: flex;
	width: 50%;
}
.panel-body .ordering_content4-button-last{
	width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ordering_content4-button-last button{
	width: 203px;
    height: 45px;
    background-color: #FF7270;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Regular';
    margin-right: 50px;
    border: none;
    border-radius: 6px;
}



/*reference*/
.my-reference .modal-dialog{
	width: 1040px;
}
.modal-open .reference-moddal {
    background-color: #4b4c9a69;
}
.my-reference .modal-title{
  font-size: 30px;
  font-family: 'Bold';
  color: #4C4C9A;
}
.my-reference .modal-header{
   height: 100px;
   display: flex;
   align-items: center;
   padding: 0;
   position: absolute;
   width: 100%;
   position: relative;
   border-bottom: 1px solid #A3A3A3;
}
.my-reference  .modal-header .close{
   position: absolute;
   margin: 0;
    top: 22px;
    right: 0px;
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    color: #000;
}
.my-reference  .modal-content{
	padding: 0 30px;
}
.my-reference .modal-body{
    padding: 50px 0;
}

/*acardion for reference */

.reference-mod_body .accordion {
    background-color: #4C4C9A;
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    transition: 0.4s;
    font-family: 'Bold';

    height: 45px;
    position: relative;
}


.reference-mod_body .active, .reference-mod_body .accordion:hover {
    background-color: #fff;
    color: #4C4C9A;
    font-family: 'Bold';
    font-size: 22px;
}

.reference-mod_body .accordion:after {
/*    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;*/

    content: " ";
    width: 10px;
    height: 10px;
    border: solid 2px #999999;
    position: absolute;
    right: 10px;
    top: -4px;
    bottom: 0px;
    margin: auto;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    transition-duration: 0.2s;
}

.reference-mod_body .active:after {
/*    content: "\2212";*/


    content: " ";
    width: 10px;
    height: 10px;
    border: solid 2px #999999;
    position: absolute;
    right: 10px;
    top: -2px;
    bottom: 0px;
    margin: auto;
    transform: rotate(-135deg);
    border-left: none;
    border-top: none;
    transition-duration: 0.2s;
}
.my-reference .reference-mod_acar-panel1{
    border-top: 1px solid #C3C3C3;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
    padding-top: 27px;
}
.reference-mod_acar-panel1 .reference-mod-start{
	width: 61px;
	height: 2px;
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #4C4C9A;
}
.reference-mod_body .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    border: none;
    border-radius: 0;
    box-shadow: none;
}

.reference-fr-mn{
    border-collapse: collapse;
    width: 100%;
    font-family: 'Regular';
    font-size: 16px;
}
.reference-fr-mn tr{
/*	background-color: #fff;*/
	color: #000;

}
.reference-fr-mn tr:first-child{
	background-color: #4C4C9A;
}
.reference-fr-mn tr th{
	color: #fff;
	background-color: #4C4C9A;
	font-weight: 500;
}
.reference-fr-mn tr th:first-child{
	padding-left: 17px;
	text-align: left;
}
.reference-fr-mn tr td:first-child{
	padding-left: 17px;
}
.reference-fr-mn tr th{
	height: 44px;
}
.reference-fr-mn tr td{
	height: 44px;
	background-color: #fff;
}
.reference-fr-mn tr.reference-fr-mn-bc td{
	background-color: #F7F7FF;

}
.reference-fr-mn-3img{
	height: 250px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #4C4C9A;
}
.reference-fr-mn-3img img{
	max-width: 100%;
	max-height: 100%;
}


/*.reference-fr-mn tr:nth-child(even){
	background-color: red;
}

.reference-fr-mn tr:hover {
	background-color: blue;
}
*/
table.reference-for-choldren tr th{
	height: 65px;
	text-align: center;
	max-width: 80px;
}
table.reference-for-choldren tr td:first-child{
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}
table.reference-for-choldren tr td.reference-for-choldren-leftst{
	text-align: center;
	padding-left: 0;
}
table.reference-for-choldren tr.reference-fr-mn-bc td{
	background-color: transparent;

}
table.reference-for-choldren tr.refernce-whiteba{
background-color: #F7F7FF;
}
table.reference-for-choldren tr td{
	text-align: center;
}
section.welcome.thank_you{
	background-image: url(../img/thank-you.png);
}
.thank_you .welcome_2divs_2 span{
	font-family: 'Medium';
}
.thank_you .welcome_2divs_2 p{
	margin-top: 0;
}
.thank_you  .welcome_2divs_2 h2{
     margin-top: 70px;
     margin-bottom: 60px;
}
.thank_you .welcome_2divs .welcome_2divs_1, .thank_you .welcome_2divs .welcome_2divs_2{
	height: 390px;
}
.welcome.thank_you .welcome_2divs{
	min-height: 575px;
	align-items: center;
}




/*drop down menu*/

.lnheader_navbar .drop_ol-my{
	position: relative;
}
.drop_ol-my_block{

	position: absolute;
	top: 55px;
	right: 37px;
	z-index: 2;
	background-color: #ffffff;
	width: 260px;
	transition-duration: 1s;
	opacity: 0;
	visibility: hidden;
}
.drop_ol-my_block a{
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Regular';
	color: #A7A7A7;
	font-size: 16px;
	display: block;
}
.drop_ol-my_block a:hover{
	color: #2B2B6B;
	text-decoration: none;
}
ol.drop_ol-my_block  li{
	list-style: none;
}
.lnheader_navbar .drop_ol-my:hover .drop_ol-my_block{
	opacity: 1;
	visibility: visible;
}
.lnheader_navbar .navbar-nav>li.drop_ol-my>a:hover{
	color: #2B2B6B;
	border: none;
}
.drop_ol-my_block-mobil{
	display: block !important;
}
.loader {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	top: 0;
	left: 0;
	z-index: 1000;
}
.loader img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

}