/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {
	.divs4_slider .slick-next4{
		right: 15px;
	}
	.divs4_slider .slick-prev4{
		left: 15px;
	}
}
@media only screen and (max-width : 1200px) {
	.slider_top .slick-next{
		right: 50px;
	}
	.slider_top .slick-prev{
		left: 50px;
	}
}
@media only screen and (max-width : 1199px) {
	section.divs4_slider .divs4_1_left{
		width: 455px;
	}
	.divs4_slider .divs4_1_right{
		width: 455px;
	}
	.divs4_right-botton .divs4_right-botton2 img{
		margin-top: 40px;
	}
	.for_woman_8{
		justify-content: center;
	}
	.for_woman_8 .for_woman-1div{
		margin-left: 10px;
		margin-right: 10px;
	}
	.for_woman_8 .for_woman-1div{
		margin-bottom: 20px;
	}
	footer.botton .footer_5icons2{
		width: 39%;
	}
	footer.botton .footer_5icons1{
		width: 61%;
	}
	.breakpoint .slider_break{
		width: 535px;
	}
	.cons_top_slider1_cover{
		width: 59%;
	}
	.my_lnmodal-cons_top .break_sale{
		width: 39%;
	}
	.allmymodal .modal-dialog{
		width: 95%;

	}
	.my-reference .modal-content{
		margin-left: 17px;
	}
	.login_ek .login_ek_2div-1div input, .login_ek .login_ek_2div-1div button, .login_ek_2div-2div a{
		width: 80%;
	}
	.login_ek_2div-2div p{
		margin: 50px 50px 29px 50px;
	}
	.welcome_2divs .welcome_2divs_1 h1{
		font-size: 35px;
	}
	.info-tab_all-1-frs-in input{
		width: 300px;
	}
	.info-tab_-second_h6-wi2{
		width: 300px;
	}
	.info_all-leon input, .info_all_second-input-left-1 .info_all_second-select-left-1{
		width: 230px;
	}
	.lich-ad_all .lich-dan, .lich-ad_all .ad-dost{
		width: 420px;
	}
	.uli-index-all .uli-index-top-left{
		width: 200px;
	}
	.lich-dan_inputs_3btn input{
		width: 130px;
	}
	.lich-dan_inputs_3btn button{
		width: 134px;
	}
	.ordering_content22 .ordering_content2-select select{
		width: 200px;
	}
	.bascet_goods_6divs-2 .bascet_goods_62-4 p{
		text-align: center;
	}

	.my-reference .modal-dialog{
		width: 95%;
	}
	.info-tab_-second-2 .info-tab_-second-2-bottom, .info-tab_-second-2 .info-tab_-second-2-top,
	.info-tab_-second-1 .info-tab_-second-1-top, .info-tab_-second-1 .info-tab_-second-1-bottom{
		margin-left: 0px;
		padding-left: 30px;
	}
	.bascet_goods_62-3 .bascet_goods_62-3_all{
		padding-left: 8px;
		padding-right: 5px;
	}
	.bascet_goods_62-3_all .bascet_goods_62-3_wo h4, .bascet_goods_62-3_all .bascet_goods_62-3_wo h3, .bascet_goods_62-3 .bascet_goods_62-3_all h6{
		font-size: 14px;
	}
	.bascet_goods_6divs-2 .bascet_goods_62-4 p, .bascet_goods_62-1 p, .ordering_content4-botton .bascet_goods_62-5 span, .bascet_goods_6divs-2 .bascet_goods_62-6 p{
		font-size: 16px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 991px) {
	.headerall-3 .header1-div, .header2-div, .header3-div{
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.header3-div{
		width: 100%;
	}
	/* Safari 6.1+ */
	.search-header .logo-header   {-webkit-order: 1;}
	.search-header .search-2-div  {-webkit-order: 3;}
	.search-header .search-3-div {-webkit-order: 2;}

	/* Standard syntax */
	.search-header .logo-header  {order: 1;}
	.search-header .search-2-div  {order: 3;}
	.search-header .search-3-div {order: 2;}
	.search-header .search_all-3{
		flex-wrap: wrap;
		justify-content: center;
	}
	.search-header .logo-header, .search-header .search-2-div, .search-header .search-3-div {
		margin:10px;
	}
	.lnheader_navbar .navbar-nav>li>a{
		margin-right: 20px;
		font-size: 14px;
	}
	.slider_top .single_content{
		margin-left: 0;
	}
	.divs4_slider .divs4_1{
		flex-direction: column;
		align-items: center;
	}
	section.divs4_slider .divs4_1_left{
		width: 100%;
		max-width: 100%;
	}
	.divs4_slider .divs4_1_right{
		width: 100%;
	}
	.divs4_1_right .divs4_right-top img{
		margin-left: 10px;
	}
	footer.botton .footer_5icons{
		flex-direction: column;
		align-items: center;
	}
	footer.botton .footer_5icons2{
		margin-top: 30px;
		width: 60%;
	}
	footer.botton .footer_5icons1{
		width: 100%;
	}
	.footer_info .footer_info_23_1, .footer_info .footer_info_23, .footer_info .footer_info_23_2, .footer_info .footer_info_1{
		width: 50%;
	}
	.breakpoint .breakpoint_all{
		flex-direction: column;

	}
	.breakpoint .slider_break{
		width: 100%;
		margin-top: 30px;
	}
	.breakpoint .slider_break{
		order: 2;
		-webkit-order: 2;
	}
	.breakpoint .breakpoint_all .break_sale{
		order: 1;
		-webkit-order: 1;
		width: 60%;
	}
	section.divs4_slider .divs4_1_left{
		margin-right: 0;
	}
	.divs4_slider .divs4_1_right{
		margin-left: 0;
	}
	.my_lnmodal-cons_top .break_sale{
		order: 1;
		-webkit-order: 1;
	}
	.cons_top_slider1_cover{
		order: 2;
		-webkit-order: 2;
	}
	.my_lnmodal-cons_top{
		flex-direction: column;
	}
	.cons_top_slider1_cover{
		width: 100%;
	}
	.my_lnmodal-cons_top .break_sale{
		width: 60%;
		margin-bottom: 30px;
	}
	.bascet_goods_62-2 .bascet_goods_62-2_img{
		width: 150px;
		height: 150px;
	}
	.bascet_goods_6divs-2 .bascet_goods_62-4 p, .bascet_goods_6divs-2 .bascet_goods_62-6 p, .personal_ar_history .bascet_goods_per_are_bot,
	.bascet_goods_62-5 p, .bascet_goods_62-1 p{
		font-size: 16px;
	}
	.bascet_goods_62-3_all .bascet_goods_62-3_wo{
		margin-top: 15px;
	}
	.bascet_goods_62-3 .bascet_goods_62-3_all{
		margin-left: 8px;
		margin-right: 5px;
	}

	.bascet_goods_62-3_all .bascet_goods_62-3_wo h3{
		width: 45%;
	}
	.login_ek .login_ek_2div-1div, .login_ek .login_ek_2div-2div{
		width: 350px;
	}
	.login_ek_2div-2div p{
		margin: 50px 25px 35px 23px;
		font-size: 17px;
	}
	.registration_making h6{
		padding-right: 30px;
	}
	.registration_making_all .registration_making-nball{
		padding-right: 30px;
	}
	.registration_making_all h5{
		font-size: 17px;
	}
	.welcome_2divs_2 p{
		font-size: 14px;
	}
	.welcome_2divs .welcome_2divs_2{
		padding-left: 20px;
		padding-right: 20px;
	}
	.welcome_2divs .welcome_2divs_1 h1{
		font-size: 30px;
	}
	.welcome_2divs .welcome_2divs_2{
		width: 500px;
	}
	.registration_making_all .registration_making_all-btn{
		justify-content: center;
		margin-right: 0;
	}
	.registration_making_all .registration_making_all-btn button{
		margin-right: 0;
	}
	.info-tab_all-1-frs-in input{
		width: 210px;
	}
	.info-tab_-second_h6-wi2{
		width: 200px;
	}
	.info-tab_all-1-topp-break p{
		width: 145px;
	}
	.info_all-leon input, .info_all_second-input-left-1 .info_all_second-select-left-1{
		width: 180px;
	}
	.ordering_content .lich-ad_all{
		flex-direction: column;
	}
	.lich-ad_all .lich-dan, .lich-ad_all .ad-dost{
		width: 100%;
	}
	.uli-index-all .uli-index-top-left{
		width: 45%;
	}
	.lich-dan_inputs_3btn input{
		width: 200px;
	}
	.ordering_content2 .ordering_content22{
		flex-direction: column;
		justify-content: flex-start;
	}
	.ordering_content2 .ordering_content22 p{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.ordering_content3_4div .ordering_content3_img1{
		margin-right: 20px;
		margin-left: 20px;
	}
	.ordering_content4 .ordering_content4-top{
		height: auto;
		flex-direction: column;
		border-right: none;
	}
	.ordering_content4-top_divs-first, .ordering_content4-top_divs-second{
		width: 100%;
	}
	.ordering_content4-top .ordering_content4-top-1, .ordering_content4-top .ordering_content4-top-2,
	.ordering_content4-top .ordering_content4-top-3, .ordering_content4-top .ordering_content4-top-4{
		height: 350px;
		border-right: #E9E9E9 1px solid;
	}
	.ordering_content4-top_divs-second{
		margin-top: 20px;
	}
	.zoomWindowContainer{
		display: none;
	}
	.reference-fr-mn{
		font-size: 12px;
	}
	.info-tab_-second-2 .info-tab_-second-2-bottom, .info-tab_-second-2 .info-tab_-second-2-top, .info-tab_-second-1 .info-tab_-second-1-top, .info-tab_-second-1 .info-tab_-second-1-bottom{
		margin-left: 0px;
		padding-left: 10px;
	}
	.info-tab_all-1-topp-break p{
		font-size: 16px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
@media only screen and (max-width : 767px) {
	.lnheader_navbar .navbar{
		min-height: 50px;
	}
	.lnheader_navbar .navbar-toggle{
		float: unset;
		margin: 0;
		border: none;
	}
	.lnheader_navbar .navbar-inverse .navbar-toggle:focus, .lnheader_navbar .navbar-inverse .navbar-toggle:hover{
		background-color: #fff;
	}
	.lnheader_navbar .navbar-header{
		text-align: center;
		align-items: center;
	}
	.lnheader_navbar .navbar-inverse .navbar-toggle .icon-bar{
		background-color: #4B4C9A;
	}
	.lnheader_navbar .navbar-toggle .icon-bar{
		width: 30px;
		margin-top: 6px;
	}
	.lnheader_navbar .navbar-collapse{
		margin-top: 0;
	}
	.lnheader_navbar .navbar-inverse .navbar-collapse{
		border-color: #F5F5F7;
		overflow: hidden;
	}
	.lnheader_navbar .navbar-nav>li>a{
		text-align: center;
		margin-right: 0;
	}
	.lnheader_navbar .navbar-nav>li>a{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.lnheader_navbar .navbar-nav>.active>a{
		border-bottom: none;
	}
	.single_content h1{
		font-size: 40px;
	}
	.single_content h5{
		font-size: 20px;
	}
	.single_content h4{
		font-size: 30px;
	}
	.single_content p{
		font-size: 13px;
	}
	.slider_top .single-item_ek_img{
		background-position: center;
		height: 400px;
	}
	section.slider_top{
		min-height: 400px;
	}
	section.pay_4 .pay_all{
		flex-direction: column;
	}
	section.pay_4 .pay_all .pay{
		margin: 10px;
	}
	.pay_all .pay_all1div{
		width: 100%;
	}
	section.pay_4{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.footer_info{
		flex-direction: column;
		padding: 50px 0;
	}
	.footer_info .footer_info_23{
		margin-top: 30px;
		width: 100%;
	}
	.footer_info .footer_info_1{
		width: 100%;
	}
	footer.botton .bot_logoall{
		flex-direction: column;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.about_content .about_content_text{
		padding: 20px;
	}
	.about_content .about_content_text p{
		font-size: 14px;
	}
	section.about_free .about_free_h1 h1{
		font-size: 40px;
	}
	section.about_free .about_free_h1 h2{
		font-size: 30px;
	}
	.about_content .abo_content_h1{
		margin-top: 30px;
	}
	.price_size .price_size_2div{
		flex-direction: column;
		align-items: center;
	}
	.price_size .price_size_left{
		width: 100%;
		/*	overflow-x: hidden;
            overflow-y: auto;*/
	}
	.price_size_left .panel-od{
		max-height: 300px;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.price_size .price_size_right{
		width: 100%;
		margin-top: 20px;
	}
	.breakpoint .breakpoint_all .break_sale{
		width: 100%;
	}
	.slider_top .single_content{
		box-shadow: none;
		text-align: center;
		margin-top: 20px;
		padding-left: 0;
	}
	.single_content a{
		margin: auto;
	}
	.single_content h5{
	}
	.divs4_1_right .divs4_right-top img{
		margin-left: 0;
	}
	.my_lnmodal-cons_top .break_sale{
		width: 100%;
	}
	section.suede .suede_all{
		padding: 20px 0;
	}
	section.suede .suede_all p{
		font-size: 14px;
	}
	.bascet_goods_6divs .bascet_goods_6divs-1, .bascet_goods_6divs .bascet_goods_6divs-2{
		border: none;
	}

	.bascet_goods_6divs .bascet_goods_bot-last_btn{
		margin-bottom: 20px;
		justify-content: flex-start;
	}
	/*.bascet_goods_6divs .bascet_goods_bot-h3-li{
        justify-content: flex-start;
    }*/
	.login_ek .login_ek_2div{
		flex-direction: column;
	}
	.login_ek .login_ek_2div-1div, .login_ek .login_ek_2div-2div{
		margin: 0;
	}
	.login_ek .login_ek_2div-1div{
		margin-bottom: 30px;
	}
	.registration_making-nball .registration_making_all_1, .registration_making_all .registration_making_all_2, .registration_making_all .registration_making_all_4,
	.registration_making_all .registration_making_all_5{
		flex-direction: column;
	}
	.registration_making_all .registration_making_all_3{
		justify-content: center;
	}
	.registration_making_all .registration_making_all-btn{
		justify-content: center;
	}
	.registration_making_all .registration_making_all-btn button{
		margin-right: 0;
	}
	.registration_making_all .registration_making_all_1_p, .registration_making_all_1_p p{
		justify-content: center;
	}
	.registration_making_all .registration_making-nball{
		padding-right: 0;
	}
	.welcome .welcome_2divs{
		flex-direction: column;
	}
	.welcome_2divs .welcome_2divs_1{
		width: 100%;
		margin-bottom: 30px;
		font-size: 35px;
		justify-content: center;
	}
	.welcome_2divs .welcome_2divs_2{
		width: 100%;
	}
	.registration_making_all .restore_password_div2 input{
		width: 170px;
	}
	.restore_password .registration_making_all .registration_making_all_1 h5{
		margin-right: 0;
	}
	.info-tab_all-1 .info-tab_all-1-frs-in{
		flex-direction: column;
	}
	.info-tab_all-1-frs-in .info-tab_all-1-frs-in-left, .info-tab_all-1-frs-in .info-tab_all-1-frs-in-right{
		width: 100%;
		justify-content: center;
	}
	.info-tab_all-1{
		display: flex;
		justify-content: center;
	}
	.info-tab_all-1-frs_btn a{
		margin-bottom: 20px;
	}
	.info-tab_all-1-second .info-tab_-second-1{
		padding-left: 0;
	}
	.info_all_second-all_wbtn .info_all_second-all{
		flex-direction: column;
	}
	.info_all_second-all .info_all_second-all-left, .info_all_second-all .info_all_second-all-right{
		width: 100%;
	}
	.info_all_second-all_wbtn{
		padding-bottom: 20px;
	}
	.info_all_second-all_wbtn2 .info-tab_all-1-topp-break{
		flex-direction: column;
	}
	.info-tab_all-1-frs_btn button{
		margin-bottom: 20px;
	}
	.info_all_second-input-left, .info_all_second-input-right{
		width: 100%;
	}
	.info_all_second-input-left-1, .info_all_second-all_wbtn2 .info_all-leon{
		justify-content: center;
	}
	.info_all_second-all_wbtn2 .info_all-leon, .info_all_second-input-left-1{
		margin-bottom: 0;
	}
	.ordering_content3_4div .ordering_content3_img1{
		margin-right: 10px;
		margin-left: 10px;
	}
	.my-reference .reference-mod_acar-panel1{
		overflow: auto;
	}
	.reference-fr-mn{
		width: 767px;
	}
	.reference-fr-mn-3img{
		width: 767px;
	}
	.thank_you .welcome_2divs .welcome_2divs_2{
		height: 300px;
	}
	.thank_you .welcome_2divs .welcome_2divs_1{
		height: 200px;
	}
	.thank_you .welcome_2divs_2 h2{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	section.registration_ek{
		display: block;
		padding-top: 30px;
		padding-bottom: 30px;
		height: auto;
		min-height: 500px;
	}
	section.login_ek{
		height: auto;
		padding-top: 30px;
	}
	.bascet_goods_bot-h3-li{
		justify-content: center;
	}
	.info-tab_all-1-second h6{
		padding: 0;
	}
	.my_appl_mdbody input, .my_appl_mdbody textarea{
		width: 100%;
	}
	/*drop down menu*/
	.drop_ol-my_block{
		position: relative;
		top: 0;
		right: 0;
		margin: auto;
		text-align: center;
		padding: 0;
		display: none;
		width: 225px;
	}
	.lnheader_navbar .drop_ol-my:hover .drop_ol-my_block{
		display: none;
	}
}
@media only screen and (max-width : 650px) {
	footer.botton .footer_5icons1{
		flex-direction: column;
		align-items: center;
	}
	footer.botton .footer_5icons2{
		flex-direction: column;
		align-items: center;
		margin-top: 0;
	}
	.footer_5icons_div1{
		margin-top: 20px;
		border-bottom: 1px solid #6766A9;
	}
	.info-tab_-second-1 .info-tab_-second-1-top, .info-tab_-second-1 .info-tab_-second-1-bottom, .info-tab_-second-2 .info-tab_-second-2-top, .info-tab_-second-2 .info-tab_-second-2-bottom{
		flex-direction: column;
	}
	.info-tab_all-1-second_all{
		width: 100%;
	}
	.info-tab_-second_h6-wi2{
		width: 100%;
		text-align: center;
	}
	.info-tab_-second_h6-wi{
		width: 100%;
		text-align: center;
	}
	.lich-dan_inputs .lich-dan_inputs_3btn{
		flex-direction: column;
		margin-top: 22px;
	}
	.ad-dost-sec-p .ad-dost-sec{
		margin-bottom: 0;
	}
	.lich-dan_inputs_3btn input{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.uli-index-all .uli-index-top{
		flex-direction: column;
	}
	.uli-index-all .uli-index-top-left{
		width: 100%;
	}
	.lich-ad_all p{
		font-size: 13px;
		margin-top: 10px;
	}
	.ordering-map-img iframe{
		min-height: 200px;
	}
	.ordering_all .panel-title>a{
		padding-left: 20px;
		font-size: 16px;
	}
	.ordering_content3_4div{
		flex-direction: column;
		margin-top: 20px;
	}
	.ordering_content3_4div .ordering_content3_img1{
		text-align: center;
		width: 100%;
		margin-bottom: 40px;
		margin-left: 0;
		margin-right: 0;
	}
	.ordering_content4-top_divs-first, .ordering_content4-top_divs-second{
		flex-direction: column;
		border: none;
		margin-top: 0;
	}
	.ordering_content4-top .ordering_content4-top-1, .ordering_content4-top .ordering_content4-top-2,
	.ordering_content4-top .ordering_content4-top-3, .ordering_content4-top .ordering_content4-top-4{
		width: 100%;
		margin-top: 20px;
	}
	.ordering .ordering_content4{
		margin-left: 0;
		margin-right: 0;
	}
	.my-reference .modal-title{
		font-size: 25px;
	}
	.info-tab_-second-1 .info-tab_-second-1-bottom, .info-tab_-second-2 .info-tab_-second-2-bottom{
		margin-top: 0;
	}
}
@media only screen and (max-width : 525px) {
	.registration_making_all .registration_making_all_3 button{
		-webkit-order: 3;
		order: 3;
		margin-top: 10px;
	}
	.registration_making_all_3 input{
		-webkit-order: 2;
		order: 2;
	}
	.registration_making_all .registration_making_all_3 h5{
		-webkit-order: 1;
		order: 1;
		margin-left: 0;
	}
	.registration_making_all .registration_making_all_3{
		flex-direction: column;
	}
	.registration_making_all input, .registration_making_all_1_p p, .registration_making_all .registration_making_all-btn button{
		width: 90%;
	}
	.divs4_right-botton .divs4_right-botton1{
		width: 49%;

	}
	.divs4_right-botton .divs4_right-botton2{
		width: 49%;
	}
	.registration_making h6{
		padding-right: 0;
		width: 90%;
		text-align: center;
		font-size: 14px;
	}
	.divs4_1_right .divs4_right-top{

		height: auto;
	}
	.divs4_right-top .divs4_right-top_right a, section.divs4_slider .divs4_1_left a{
		margin-bottom: 30px;
	}
	section.divs4_slider .divs4_1_left{
		height: auto;
	}
	.slider_top .slick-next{
		right: 15px;
	}

	.slider_top .slick-prev{
		left: 15px;
	}
	.registration_making_all .registration_making_all_3 button{

	}
	.ordering_prev2-divw{
		flex-direction: column;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.ordering_content2 h1{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.ordering_prev2-divw button:first-child{
		height: 45px;
		width: 150px;
		margin-bottom: 15px;
	}
	.ordering_content2 .ordering_content22 p{
		font-size: 14px;
	}
	.ordering_content22 .ordering_content2-select select, .ordering_content22 .ordering_content2-select{
		width: 100%;
	}
	.ordering_content2 .ordering_content22, .ordering_prev2-divw{
		padding: 0;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.headerall-3 .header1-div, .header2-div, .header3-div{
		margin: 10px 0;
	}
	.header3-div{
		justify-content: center;
		width: 300px;
	}
	.header3-div-register button span{
		margin-left: 0;
		margin-right: 0;
	}
	.header3-div img{
		margin-right: 4px;
	}
	.search-header .logo-header{
		width: 250px;
	}
	.search-header .search-3-div{
		width: 200px;
	}
	.search-header .search-2-div{
		width: 250px;
	}
	.pay_all .pay_all1div{
		flex-direction: column;
		align-items: center;
	}
	header .headerall-3{
		justify-content: center;
	}
	.logo-header a img{
		max-width: 220px;
	}
	.search-header .logo-header{
		width: 220px;
	}
	.headerall-3 .header1-div{
		width: 221px;
		font-size: 11.5px;
	}
	.header3-div img{
		display: none;
	}
	.header3-div{
		width: 220px;
	}
	section.about_free .about_free_h1 h1{
		font-size: 30px;
	}
	section.about_free .about_free_h1 h2{
		font-size: 20px;
	}
	.break_sale .break_sale_con h6{
		font-size: 20px;
		padding-right: 100px;
	}
	.break_sale .break_sale_con h5{
		width: 100px;
		height: 40px;
		font-size: 25px;
	}
	.breakpoint .slider_break, .cons_top_slider1_cover{
		height: 300px;
	}
	.header3-div-register button{
		padding: 0;
	}
	.divs4_right-botton .divs4_right-botton2 h5, .divs4_right-botton .divs4_right-botton1 h5, .divs4_right-top .divs4_right-top_right h2, section.divs4_slider .divs4_1_left h2{
		font-size: 18px;
	}
	.divs4_right-botton .divs4_right-botton1 h4, .divs4_right-botton .divs4_right-botton2 h4, .divs4_right-top .divs4_right-top_right h3, section.divs4_slider .divs4_1_left h3{
		font-size: 14px;
	}
	.divs4_right-botton .divs4_right-botton1, .divs4_right-botton .divs4_right-botton2{
		height: 192px;
	}
	.divs4_right-botton .divs4_right-botton2 .divs4_right-botton2_div_img{
		height: 110px;
	}
	section.divs4_slider .divs4_1_left .divs4_1_left_bi_img{
		height: 160px;
	}
	.divs4_1_right .divs4_right-top .divs4_right-top_tpim{
		height: 160px;
	}
	.divs4_right-top .divs4_right-top_right h3{
		margin-top: 20px;
	}
	.allmymodal .modal-title{
		font-size: 25px;
	}
	.break_sale .break_sale_con p{
		font-size: 14px;
	}
	.filtr_top .filtr_top_backimg_h1 h1{
		font-size: 28px;

	}
	.filtr_top .filtr_top_backimg_h1{
		margin-left: 0;
	}
	.filtr_top .filtr_top_backimg{
		justify-content: center;
	}
	.breakpoint .slider_4div_btn .left-ab-pr-bt div a{
		height: 160px;
	}
	.breakpoint .slider_4div_btn button.slick-nexta{
		top: calc(50% - 15px);
		width: 30px;
		height: 30px;
	}
	.breakpoint .slider_4div_btn button.slick-preva{
		top: calc(50% - 15px);
		width: 30px;
		height: 30px;
	}
	.login_ek .login_ek_2div-1div, .login_ek .login_ek_2div-2div{
		width: 100%;
	}
	.login_ek_2div-2div h4, .login_ek .login_ek_2div-1div h4{
		font-size: 20px;
	}
	.login_ek .login_ek_2div-1div input, .login_ek .login_ek_2div-1div button, .login_ek_2div-2div a{
		width: 90%;
	}
	.welcome_2divs_2 button{
		width: 90%;
	}
	.welcome_2divs_2 h2{
		font-size: 20px;
		margin-top: 10px;
	}
	.set_password_ek_diva p{
		padding: 0;
		justify-content: center;
	}
	.welcome_2divs_2 a{
		width: 215px;
	}
	.header3-div-register.mypersonal ul{
		width: 126px;
	}
	.header3-div-register.mypersonal ul li a{
		width: 115px;
	}
	.info-tab_all-1-frs-in .info--in-left{
		flex-direction: column;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.person_area_info-2tabs .nav-tabs>li>a{
		font-size: 12px;
		text-align: center;
	}
	.info-tab_all-1-topp p{
		font-size: 12px;
	}
	.personal_area_info-tabs_h4 h4{
		font-size: 13px;
	}
	.info-tab_all-1 .info-tab_all-1-second{
		flex-direction: column;
	}
	.info-tab_all-1-second .info-tab_-second-2{
		margin-top: 30px;
	}
	.info_all_second-all .info_all_second-all-left, .info_all_second-all .info_all_second-all-right{
		padding-left: 0;
	}
	.info_all_second-all .info__second--left{
		justify-content: center;
		margin-top: 20px;
	}
	.info_all_second-input-left-1, .info_all_second-all_wbtn2 .info_all-leon{
		flex-direction: column;
	}
	.info-tab_all-1-topp-break p{
		width: auto;
	}
	.ordering_content4-button-last button, .ordering_next1-div .ordering_next1{
		margin-right: 0;
	}
	.ordering_all .ordering_next1-div, .panel-body .ordering_content4-button-last{
		justify-content: center;
	}
	.my-reference .modal-title{
		font-size: 20px;
		padding-right: 30px;
	}
	.reference-mod_body .accordion{
		font-size: 18px;
	}
	.reference-mod_body .active, .reference-mod_body .accordion:hover{
		font-size: 18px;
	}
	.my-reference .modal-dialog{
		width: 100%;
	}
	.my-reference .modal-content{
		margin-left: 0;
	}
	.break_sale .break_sale_sec .sp-po-bton{
		font-size: 14px;
	}
	.my-reference .modal-dialog{
		margin-left: 0;
	}
	.thank_you .welcome_2divs .welcome_2divs_1{
		height: 100px;
		text-align: center;
	}
	.welcome.thank_you .welcome_2divs{
		min-height: 440px;
	}
	section.welcome.thank_you{
		min-height: 500px;
	}
	.bascet_goods_bot-last_btn .bascet_goods_bot-last_btn_il{
		flex-direction: column;
	}
	.bascet_goods_bot-h3-li h3, .bascet_goods_bot-h3-li h3{
		font-size: 16px;
	}
	.info-tab_-second-2 .info-tab_-second-2-bottom, .info-tab_-second-2 .info-tab_-second-2-top, .info-tab_-second-1 .info-tab_-second-1-top, .info-tab_-second-1 .info-tab_-second-1-bottom{
		padding-left: 0px;
	}
	.header3-div-register.mypersonal{
		width: 126px;
	}
	.info-tab_all-1-second .info-tab_-second-2{
		margin-top: 0;
	}
	.info-tab_all-1 .info-tab_all-1-second{
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.bascet_goods_all_h4 .bascet_goods_all_h4_topp h4{
		font-size: 16px;
	}
	.ordering_all-top_h1 h1{
		font-size: 18px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.info-tab_all-1-second .info-tab_-second-2{
		padding-left: 45px;
	}
}